.App {
  min-height: 100vh;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.spinning.glyphicon {
  animation: spin 1s linear infinite;
}

.space-top {
  margin-top: 45px;
}

.space-top-sm {
  margin-top: 20px;
}

.space-bottom {
  margin-bottom: 45px;
}

.name-table {
  font-size: 24px;
}

.table>tbody>tr>td.small-cell {
  padding-top: 16px;
  font-size: 15px;
  color: #737373;
}

.detail-table>tbody>tr>td {
  padding: 5px;
}

.list-status {
  font-size: 16px;
  color: #737373;
}

.list-stat {
  font-size: 16px;
}

.list-statname {
  font-size: 16px;
  color: #737373;
}

.list-status-small {
  font-size: 14px;
  color: #737373;
}

.list-stat-small {
  font-size: 14px;
}

.list-statname-small {
  font-size: 14px;
  color: #737373;
}

.d-inline-block {
  display: inline-block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nomargin {
  margin: 0;
  height: 16px;
}

li.text-danger a {
  color: #a94442;
}

li.text-warning a {
  color: #8a6d3b;
}

li.text-success a {
  color: #3c763d;
}

li.text-info a {
  color: #31708f;
}

.table > tbody > tr > td {
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
}

.table > tbody > tr > td ul {
  margin-bottom: 0;
}

.table > tbody > tr > td.last-cell {
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
}

.table-row-first {
  background: #fff;
  border: 1px solid #eee;
}

.table-row {
  background: #fff;
  border: 1px solid #eee;
  margin-top: 30px;
}

.table>tbody+tbody {
  border: none;
}

.name-padded {
  padding: 10px;
}

.btn-default {
  padding: 9px 20px;
  background: #ecf2fc;
  color: #4c84ff;
  border: 1px solid #d9dde5;
}

#bodyoptions .btn-default,
div.part-display .btn-group .btn-default {
  padding: 6px 12px;
}

.btn-default.btn-xs {
  padding: 1px 5px;
}

.btn {
  font-size: 16px;
  padding: 9px 20px;
  cursor: pointer;
  font-weight: 500;
}

.btn-primary {
	background: #2dcca1;
	color: #fff;
	font-weight: 600;
	border: 1px solid #2dcca1;
}

.btn-blue-background {
  background: #4c84ff;
  border: 1px solid #4c84ff;
  padding: 10px 20px;
}

.nav-buttons {
  padding-top: 24px;
}

.nav-buttons {
  padding-top: 10px;
  padding-right: 15px;
}

.ed-table .btn-primary {
  background: #ecf2fc;
  color: #4c84ff;
  border: 1px solid #d9dde5;
}

.ed-table div.dropdown>.btn-primary {
  margin-right: 0;
}

#msform fieldset textarea.form-control {
  height: auto;
}

#msform fieldset select[multiple].form-control {
  height: auto;
}

#msform fieldset .form-control {
  color: #6d737c;
}

#msform fieldset .form-group label {
  margin-bottom: 0;
}

#msform .form-inline input[type=checkbox] {
  width: auto;
}

#msform .form-inline input {
  margin-bottom: 0;
}

#msform .action-button {
  width: 20%;
}

.img_camp button.dropdown-toggle span {
  vertical-align: middle;
}

.campaign label.radio-inline {
  color: #8b94a5;
  font-size: 14px;
}

p.read-only-ph {
  color: #6d737c;
}

.campaign_box .form_style .form-control,
.campaign_box .form_style .form-control:focus {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.campaign_edit div.row:first-child {
  margin-bottom: 10px;
}

.campaign .header_box div.row {
  margin-bottom: 10px;
}

#msform fieldset .white-box {
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
}

.campaign.meassage_box {
  max-width: 1024px;
}

.dropdown-white-container .dropdown.btn-group {
  width: 100%;
}

.dropdown-white {
  text-align: left;
  background: #fff;
  color: #6d737c;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-white .caret {
  float: right;
  margin-top: 8px;
}

.dropdown-white-container a {
  font-size: 14px;
}

.result-table>tbody>tr>td,
.result-table>thead>tr>th {
  padding: 4px;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid #ddd;
}

ul.dropdown-menu a {
  font-size: 14px;
}

.gray_tag {
  background-color: rgb(241, 241, 241);
  color: rgb(51, 51, 51);
}

.gray_tag:hover {
  color: rgb(51, 51, 51);
}

.select2-container .select2-selection__rendered {
  line-height: 43px !important;
}

.select2-container .select2-selection--single {
  height: 43px !important;
  border: 1px solid #d9dde5 !important;
}

.select2-container .select2-selection--multiple {
  border: 1px solid #d9dde5 !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  line-height: 29px !important;
}

.select2-selection__arrow {
  height: 43px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  line-height: 29px !important;
}

#msform .select2 input {
  padding: inherit;
  border: inherit;
  border-radius: inherit;
  margin-bottom: inherit;
  box-sizing: inherit;
  width: inherit;
  color: inherit;
  font-size: inherit;
}

.img_camp span.select2 {
  display: inherit;
  width: inherit;
  vertical-align: inherit;
}

.img_camp span.select2 .select2-selection--single {
  background-color: rgb(236, 242, 252);
  border: 1px solid #d9dde5;
}

.img_camp span.select2 .select2-selection--single .select2-selection__placeholder {
  color: #4c84ff;
}

.img_camp .select2 span {
  display: inherit;
  width: inherit;
  vertical-align: inherit;
}

.dropdown {
  z-index: inherit;
}

.tag-value {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 0 0;
  padding: 3px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  background: #f1f1f1;
  white-space: pre;
}

.white-box [type="radio"]:checked,
.white-box [type="radio"]:not(:checked) {
  left: inherit;
}

.white-box .subj-link {
  font-size: 16px;
}

.btn.delete-button {
  font-size: 16px;
}

.white-box {
  background: #fff;
}

.drop-blue .ed-table table tbody td.active a {
  background: #e4fcf4;
  color: #2dcca1;
  border-radius: 4px;
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: inline-block
}

.drop-blue .ed-table table tbody td.inactive a {
  border-radius: 4px;
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: inline-block
}

.drop-blue .ed-table table tbody a {
  background: transparent;
  color: #337ab7;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  line-height: inherit;
  text-align: inherit;
  display: inherit;
}

.drop-blue .ed-table table tbody a:hover {
  color: #4c84ff;
  background: #ebf2fc;
}

.drop-blue .ed-table table tbody td.active-funnel a {
  background: #e4fcf4;
  color: #2dcca1;
  border-radius: 4px;
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: inline-block
}

#msform fieldset .white-box.msg-box {
  padding: 15px 25px;
}

.ed-table table th:first-child,
.table>thead>tr>th {
  padding: 16px 15px 16px 15px;
}

.table.ip2-table>thead>tr>th {
  padding-left: 0;
  padding-right: 0;
}

.campaign {
  padding: 20px 0 40px;
}

.CodeMirror {
  height: 500px;
}

.gutter {
  height: 500px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: ew-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

#table-sec .queue-dropdown .dropdown-menu {
  left: inherit;
  right: inherit;
}

#msform fieldset .wait-checkbox label {
  margin-bottom: 0px;
}

.wait-checkbox {
  margin-left: 6px;
}

#msform fieldset .white-box.server-box {
  padding: 6px;
}

@media (max-width: 1199px) {
  #broadcast ul.text-right li {
    width: auto;
  }
}

#broadcast {
  padding-top: 0;
}

#broadcast .row-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

#broadcast.with-tabs .row-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

#broadcast.with-tabs .title-and-tabs-container {
  margin-top: 15px;
}

#broadcast .input-group-addon {
  z-index: 10;
}

#broadcast .buttons-container ul {
  margin: 0;
}

#dashboard .white-box-container {
  margin-bottom: 30px;
}

.btn[disabled] {
  opacity: 1;
}

.domain-count {
  padding: 4px 10px;
}

.ed-table .list-unstyled li:nth-child(3) span {
  background: #f46767;
}
.ed-table .list-unstyled li:nth-child(4) span {
  background: #4c84ff;
}

#save-sec,
#wizard-sec {
  padding: 0;
}

#save-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 27px 3px #e3e8f2;
}

#save-sec .right-side {
  padding-right: 15px;
}

#save-sec .green-button {
  background-color: #2dcca1;
  border-color: #2dcca1;
  color: #fff;
}

#save-sec .navbar-brand {
  background-color: #4c84ff;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin-right: 50px;
  margin-left: -2px;
  height: unset;
}

#save-sec .text-nav-link.navbar-brand {
  padding: 40px 30px;
}

#save-sec {
  padding-right: 30px;
}

#save-sec button.LoaderButton,
#save-sec button.LoaderButton:active,
button.LoaderButton,
button.LoaderButton:active,
button.LoaderButton + button.dropdown-toggle,
button.LoaderButton + button.dropdown-toggle:active {
  font-size: 16px;
  font-weight: 500;
}

button.btn.green,
button.btn.green:active,
button.btn.green:hover,
button.btn.green:focus,
button.btn.green[disabled]:hover,
button.green + button.dropdown-toggle,
button.green + button.dropdown-toggle:active,
button.green + button.dropdown-toggle:hover,
button.green + button.dropdown-toggle:focus,
.open button.green + .dropdown-toggle.btn-default,
.open button.green + .dropdown-toggle.btn-default:active,
.open button.green + .dropdown-toggle.btn-default:focus,
.open button.green + .dropdown-toggle.btn-default:hover {
  background-color: #2dcca1;
  color: #fff;
  border: none;
}

button.btn.blue,
button.btn.blue:active,
button.btn.blue:hover,
button.btn.blue:focus,
button.btn.blue[disabled]:hover,
button.blue + button.dropdown-toggle,
button.blue + button.dropdown-toggle:active,
button.blue + button.dropdown-toggle:hover,
button.blue + button.dropdown-toggle:focus,
.open button.blue + .dropdown-toggle.btn-default,
.open button.blue + .dropdown-toggle.btn-default:active,
.open button.blue + .dropdown-toggle.btn-default:focus,
.open button.blue + .dropdown-toggle.btn-default:hover {
  background-color: #4c84ff;
  color: #fff;
  border: none;
}

.dropdown button.green:first-of-type,
.dropdown button.green:first-of-type:hover,
.dropdown button.green:first-of-type:focus,
.dropdown button.blue:first-of-type,
.dropdown button.blue:first-of-type:hover,
.dropdown button.blue:first-of-type:focus {
  border-right: solid 1px #ddd;
  z-index: 3;
}

button + button.dropdown-toggle .caret {
  display: inline-block;
  margin-left: 0;
}

#save-sec .dropdown-menu,
.dropdown-menu {
  left: unset;
  right: 0;
}

#TemplateEditor.readonly a {
  position: relative;
  display: inline-block;
}

.popover.black-popover {
  background-color: black;
  color: white;
  white-space: nowrap;
}

.popover.top.black-popover>.arrow:after {
  border-top-color: black;
}

#msform input[type=radio],
#msform input[type=checkbox] {
  width: inherit;
}

#progressbar li {
    width: 25%;
}

#progressbar li .step-active.fa,
#progressbar li .step.fa {
    font-size: 20px;
    padding-top: 8px;
}

#progressbar li .step-active.fa-globe,
#progressbar li .step.fa-globe {
    font-size: 22px;
    padding-top: 7px;
}

#progressbar li .step-active.fa-pause,
#progressbar li .step.fa-pause {
    font-size: 18px;
    padding-top: 9px;
}

#progressbar li .step-active.fa-server,
#progressbar li .step.fa-server {
    font-size: 19px;
    padding-top: 9px;
}

#progressbar li .step-active.fa {
    color: #4c84ff;
}

#progressbar li .step.fa {
    color: #dbdde4;
}

#progressbar li.active span.wi-txt {
    border: none;
}

#progressbar li.current span.wi-txt {
    border-bottom: 2px solid #4c84ff;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  border-bottom: 1px solid rgb(0,0,0,0.05);
}

.ReactTable .rt-td {
  background-color: white;
}

.ReactTable .-pagination .-btn {
  background-color: #ecf2fc;
  color: #4c84ff;
  border: 1px solid #d9dde5;
}
.ReactTable .-pagination .-btn:not([disabled]):hover {
  background-color: #e6e6e6;
  color: #333;
  border-color: #adadad;
}

.ReactTable .-pagination .-btn[disabled] {
  cursor: not-allowed;
  opacity: 1;
}
.ReactTable .-pagination .-btn[disabled]:hover {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}

.logoimg {
  height: 54px;
}

.login-navbar .navbar {
  height: 78px;
}

@media all and (max-width: 955px) {
  .login-navbar .navbar {
    height: inherit;
  }
  .login-header-link {
    display: none !important;
  }
}

.ReactTable .-pagination {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

div.panel div.panel-heading div.panel-title a {
  font-size: 14px;
}

#card-element {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px;
  width: 360px;
  display: inline-block;
}
#card-errors {
  margin-top: 10px;
  color: red;
  font-size: 16px;
}

#progressbar2 li {
    width: 25%;
}

#progressbar2 li .step-active.fa,
#progressbar2 li .step.fa {
    font-size: 20px;
    padding-top: 8px;
}

#progressbar2 li .step-active.fa-globe,
#progressbar2 li .step.fa-globe {
    font-size: 22px;
    padding-top: 7px;
}

#progressbar2 li .step-active.fa-pause,
#progressbar2 li .step.fa-pause {
    font-size: 18px;
    padding-top: 9px;
}

#progressbar2 li .step-active.fa-server,
#progressbar2 li .step.fa-server {
    font-size: 19px;
    padding-top: 9px;
}

#progressbar2 li .step-active.fa {
    color: #4c84ff;
}

#progressbar2 li .step.fa {
    color: #dbdde4;
}

#progressbar2 li.active span.wi-txt {
    border: none;
}

#progressbar2 li.current span.wi-txt {
    border-bottom: 2px solid #4c84ff;
}

#save-sec2 {
  padding: 0;
}

#save-sec2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4c84ff;
  position: relative;
  box-shadow: 0 0 27px 3px #e3e8f2;
}

#save-sec2 .right-side {
  padding-right: 15px;
}

#save-sec2 .green-button {
  background-color: #2dcca1;
  border-color: #2dcca1;
  color: #fff;
}

#save-sec2 .navbar-brand {
  background-color: #4c84ff;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin-right: 50px;
  margin-left: 6px;
  height: unset;
  padding: 6px;
}

#save-sec2 .navbar-brand img {
  height: 40px;
}

#save-sec2 .text-nav-link.navbar-brand {
  padding: 40px 30px;
}

#save-sec2 {
  padding-right: 30px;
}

#save-sec2 button.LoaderButton,
#save-sec2 button.LoaderButton:active,
#save-sec2 button.dropdown-toggle,
#save-sec2 button.dropdown-toggle:active {
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}
#save-sec2 button.dropdown-toggle,
#save-sec2 button.dropdown-toggle:active {
  padding-left: 8px;
  padding-right: 8px;
}

#save-sec2 div.dropdown:first-child,
.save-navbar div#navbar-test-button {
  margin-right: 10px;
}

#save-sec2 .dropdown-menu,
.dropdown-menu {
  left: unset;
  right: 0;
}

.confirm-button.left .dropdown-menu {
  left: 0;
  right: unset;
}

#save-sec2 div.back-link {
  padding: 16px;
}

#save-sec2 div.back-link a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

div.ed-table.extra-pad {
  padding-bottom: 250px;
}

.toast-notification, .toast-notification > span {
  width: 100% !important;
  cursor: default !important;
}

.toast-dismiss {
  cursor: pointer;
  font-size: 32px;
  line-height: 0;
  margin-top: 10px;
  float: right;
}
  
#save-sec2.navbar-black {
  background-color: #3e4c57;
}

#msform .split-design-btn .action-button {
  width: unset;
  padding: 9px 20px;
  margin: 0;
  margin-top: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 45px;
  z-index: unset;
}

#msform .split-design-btn button.dropdown-toggle {
  margin-top: 30px;
  background: #2dcca1;
  color: white;
  height: 45px;
  border: none;
  border-left: white 1px solid;
}

.nobottomspace {
  margin-bottom: 0;
}