.bc-container {
  white-space: nowrap;
  max-width: 100%;
  overflow-x: scroll;
}

.bc-box {
  background: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  height: 226px;
  width: 226px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #ddd;
  position: relative;
}

.bc-box:last-child {
  margin-right: 0;
}

.bc-box.double {
  width: 462px;
}

.bc-table {
  width: 100%;
  margin-top: 20px;
}

.bc-table td {
  padding-bottom: 8px;
}

.bc-status {
  margin-top: 40px;
  margin-bottom: 20px;
}

.bc-status span {
  margin-left: 40px;
}

.more-link {
  position: absolute;
  right: 20px;
  bottom: 4px;
  font-size: 24px;
}
