.broadcasts td .list-inline h4 {
  white-space: pre-wrap;
  margin-top: 0;
}

.broadcasts td.delivered-graph {
  text-align: center;
  padding-left: 105px;
  padding-right: 105px;
}

.broadcasts td.delivered-graph .recharts-wrapper {
    display: inline-block;
}

#broadcast .nav-tabs>li.tab-1>a,
#broadcast .nav-tabs>li.tab-1>a:hover,
#broadcast .nav-tabs>li.tab-1>a:active {
  cursor: pointer;
}

.broadcasts .drafts td {
  padding-top: 30px;
  padding-bottom: 30px;
}

.broadcasts .draft-name {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 0;
  padding: 0;
  font-weight: 500;
}

.broadcasts .draft-name a {
  color: #333;
}

.broadcasts .draft-name a:hover,
.broadcasts .draft-name a:focus {
  color: #4c84ff;
}

.broadcasts .message-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.broadcasts .message-icon path {
  fill: rgba(170,224,255,.7);
}

.ed-table .table>tbody>tr>td.broadcasts-extra-td,
.ed-table .table>tbody>tr>td.broadcasts-topextra-td {
  padding: 0;
}

.broadcasts-topextra {
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  height: 49px;
  padding: 15px 15px 0 44px;
  border: 1px solid #EBEBEB;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 1290px;
}

.broadcasts .table-row-first,
.broadcasts .table-row {
  border: 1px solid #EBEBEB;
  border-top: none;
}

.bullhorn-icon {
  position: absolute;
  left: 16px;
  top: 15px;
}

.camp-counts-td {
  display: flex;
  align-items: center;
}

.camp-counts-td .camp-counts-table {
  display: inline-block;
}

.camp-counts-td .camp-counts-border {
  display: inline-block;
  border-right: 1px solid;
  border-image: linear-gradient(rgba(151, 151, 151, 0), #979797, rgba(151, 151, 151, 0)) 1;
  height: 50px;
  margin-left: 36px;
}

.ed-table table .camp-counts-table table td {
  padding: 0;
  padding-top: 6px;
}

.ed-table table .camp-counts-table table tr:first-child td {
  padding-top: 0;
}

.ed-table table .camp-counts-table table tr td {
  font-weight: 600;
  padding-left: 24px;
  color: #8D94A3;
}

.ed-table table .camp-counts-table table tr td:first-child {
  letter-spacing: -2%;
  font-weight: 400;
  padding-left: 0;
}

.broadcasts .ed-table table tbody h5 {
  font-size: 24px;
  color: #5983F7;
}

.broadcasts .table > tbody > tr > td.last-cell {
  padding-right: 30px;
}

.ed-table .table>tbody>tr>td.broadcasts-extra-td {
  padding: 0;
}

.broadcasts-extra {
  background-color: #F9F9F9;
  border-left: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  max-width: 1290px;
}

.broadcasts-extra-left {
  display: flex;
}

.broadcasts-extra-status {
  color: #979797;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -1%;
  padding-right: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.broadcasts-extra-status.border {
  border-right: 1px solid #E3E3E3;
}

.broadcasts-extra-status-text {
  color: #2E2C34;
  font-size: 14px;
}

.broadcasts-extra-warn {
  padding-left: 24px;
}

.broadcasts-extra-started {
  color: #979797;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -1%;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  padding-left: 8px;
}

.broadcasts-extra-started-time {
  font-size: 14px;
  letter-spacing: -2%;
}

.broadcasts-extra-warn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.broadcasts-extra-warn-item {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.broadcasts-extra-warn-item-warning {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #979797;
  font-weight: 400;
}

.broadcasts-extra-warn-item-msg {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #2E2C34;
  font-weight: 400;
}

.broadcasts-extra-warn-item-error {
  max-width: 700px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

#broadcast-error .tooltip-arrow {
  border-bottom-color: #e9e9e9;
}
#broadcast-error .tooltip-inner {
  max-width: 500px;
  background-color: #e9e9e9;
  color: #a94442;
}

.schedule-td {
  font-size: 14px;
  color: #2E2C34;
}