.form_style b label {
  font-weight: 700;
}

.resend-box .form-inline {
  margin-bottom: 10px;
}

.resend-box .form-inline label {
  display: inline;
  margin-left: 10px;
}

.resend-box .form-group:first-child {
  margin-right: 10px;
}

.campaign_box .form_style .resend-box .form-control {
  font-size: unset;
  line-height: unset;
  color: unset;
  background-color: unset;
  background-image: unset;
  font-weight: unset;
}
