.api-box {
  margin: 0 auto;
  width: 700px;
}

.api-link-box {
  padding: 20px;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.code-box {
  color: white;
  background: rgb(47,52,64);
}
