.contacts-extra-td {
  padding: 0 !important;
}

.contacts-extra {
  display: flex;
  background-color: rgb(246, 246, 246);
  padding: 10px;
  font-size: 12px;
  border: 1px solid #eee;
  border-top: none;
}

.contacts-extra-cell {
  white-space: nowrap;
  height: 20px;
  line-height: 20px;
  color: #979797;
  padding-left: 5px;
  padding-right: 5px;
  flex-grow: 1;
  border-right: 1px solid #E3E3E3;
  text-align: center;
}

.contacts-extra-cell:first-child {
  padding-left: 0;
}

.contacts-extra-cell:last-child {
  padding-right: 0;
  border-right: none;
}

.contacts-extra-num {
  color: #2E2C34;
  font-weight: 700;
  margin-left: 10px;
  font-size: 14px;
}
