.dropzone {
  width: 450px;
  height: 250px;
  border: 3px dashed #4286f4;
  margin-bottom: 20px;
  display: inline-block;
  padding-top: 26px;
  color: #c1c3c5;
  background-color: #edf0f4;
}
.dropzone i {
  font-size: 48px;
  display: block;
  margin-bottom: 10px;
}

.dropzone h4 {
  font-size: 24px;
  margin-top: 20px;
}

.dropzone p {
  color: #333;
  font-weight: 400;
  margin-top: 20px;
}

#msform .dropzone .upload-text input[type=file] {
  border: none;
  margin: auto;
  width: 270px;
}

.dropzone button {
  margin-top: 42px;
  background-color: #fefefe;
  border: 1px solid #ccc;
}
.dropzone button:hover {
  background-color: #f9f9f9;
}
.dropzone button:active {
  background-color: #eee;
}

.table.table-fieldmap {
  border-collapse: separate !important;
}

.table.table-fieldmap > thead:first-child > tr:first-child > th {
  background-color: #eee;
  font-weight: 500;
  padding: 6px;
  padding-left: 12px;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: solid 1px #aaa;
  box-shadow: 0px 2px 2px 0px #eee;
}

.table.table-fieldmap > tbody > tr > td {
  border: 1px solid #aaa;
  border-top: none;
  padding: 6px;
  padding-left: 12px;
}

.fieldmap-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #aaa transparent transparent;
  border-width: 7.5px 8px 7.5px 0;
  display: inline-block;
  position: absolute;
  left: 7.5px;
  top: 11px;
}

.fieldmap {
  border: solid #aaa 1px;
  border-radius: 4px;
  padding: 15px;
}

.fieldmap > p {
  color: rgb(119, 119, 119); 
}

.fieldmap > div.dropdown {
  width: 100%;
}

.fieldmap > div.dropdown > ul {
  width: 100%;
}

.fieldmap > div.dropdown > button {
  width: 100%;
  text-align: left;
  background-color: #fff;
  color: #333;
  border-color: #aaa;
  font-size: 14px;
  font-weight: 400;
}

.fieldmap > div.dropdown > button.ignore,
.fieldmap > div.dropdown > button.ignore:hover,
.fieldmap > div.dropdown > button.ignore:focus {
  /*color: #aaa;*/
}

.fieldmap > div.dropdown > button > span.caret {
  float: right;
  margin-top: 9px;
}

.fieldmap > div.dropdown > button.ignore > span.caret {
  color: #333;
}

.fieldmap > div.dropdown > ul > li > a {
  position: relative;
}

.fieldmap > div.dropdown > ul > li > a > span.glyphicon {
  position: absolute;
  left: 2px;
  top: 6px;
}
