.domain-card {
  margin-top: 20px;
  background: white;
  border: 1px solid #eee;
  border-radius: 3px;
}

.domain-card .table {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
}

.domain-card .table>thead>tr>th {
  padding: 8px;
}
.domain-card .table>tbody>tr>td {
  padding-bottom: inherit;
}

.domain-card h4 {
  margin: 20px;
}

.domain-card h5 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 20px;
}
