.hide-show {
  display: flex;
  gap: 10px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.hide-show i {
  cursor: pointer;
  color: #007bff;
}

.hide-show input {
  width: 240px;
}