.moderation-icon {
  margin-left: 3px;
  border: 1px solid;
  padding: 2px;
  color: #4c84ff;
  cursor: pointer;
}

.moderation.popover {
  max-width: 80%;
}

.ReactTable .rt-td {
  padding: 10px;  /* Adjust as needed */
}
