.exclusion-container .ed-cards-container {
  padding: 40px;
}

.exclusion-container .list-name {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 0;
  padding: 0;
  font-weight: 500;
}

.exclusion-container .list-name a {
  color: #333;
}

.exclusion-container .list-name a:hover,
.exclusion-container .list-name a:focus {
  color: #4c84ff;
}

.exclusion-container .circle {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 10px solid #ffe9e9;
  box-sizing: border-box;
}

.exclusion-container .circle .content {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.exclusion-container .circle .content .count {
  display: block;
  min-width: 100%;
  line-height: 1.2;
  color: #ff6868;
  font-size: 27px;
}

.exclusion-container .circle .content .caption {
  display: block;
  min-width: 100%;
  font-size: 11px;
  color: #bbb;
  letter-spacing: .5px;
}
