.exchange-button {
  float: right;
  display: inline-block;
  margin-right: 10px;
}

.exchange-button button {
  color: #333 !important;
}

.locationtoggle {
  margin-left: 10px;
}
.locationtoggle img {
  width: 30px;
}
.locationtoggle .btn {
  padding-top: 6px;
  padding-bottom: 6px;
}
.dismiss-check {
  margin-left: 20px;
}

.locationButton {
  margin-left: 10px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.locationButton + ul img {
  width: 30px;
}
.locationButton + ul {
  width: 85px;
  min-width: 85px;
  background-color: #f5f6fa;
}

.locationButton img {
  width: 30px;
}

#displayButton span.name,
#displayButton + ul span.name {
  display: inline-block;
  font-size: 13px;
  padding-right: 10px;
  width: 51px;
}
#displayButton img,
#displayButton + ul img {
  width: 30px;
  display: inline;
}
#displayButton > div {
  display: inline-block;
}
#displayButton {
  color: #333;
  margin-left: 10px;
  padding: 6px 10px;
}
#displayButton + ul {
  width: 115px;
  min-width: 105px;
  background-color: #f5f6fa;
}
#displayButton + ul > li > a,
#displayButton + ul > li > a:hover,
#displayButton + ul > li > a:focus {
  color: #333;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#displayButton + ul > li.active > a,
#displayButton + ul > li.active > a:hover,
#displayButton + ul > li.active > a:focus {
  color: #fff;
}
#displayButton + ul > li > a span.name {
  padding-right: 10px;
}

.typelabel {
  margin-left: 30px;
}

#designType {
  margin-left: 10px;
}

#designType .btn {
  color: #333;
}

#displaybox .form-inline.indent {
  padding-left: 20px;
}

#displaybox .checkbox label {
  margin-bottom: 0;
}

.form-stats {
  font-size: 22px;
  margin-left: 30px;
}

.form-stats td {
  padding-top: 16px;
  border-bottom: 1px solid #ccc;
}

.form-stats td:last-child {
  text-align: right;
  padding-left: 70px;
}

#displaybox div.btn-group + div.form-group {
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
  margin-top: 14px;
}

.form-refresh {
  margin-left: 30px;
  margin-top: 30px;
}
