.funnel-view .ed-table .table {
    max-width: 1024px;
}

.funnel-view .ed-table table tbody li.graph-caption h5 {
    font-size: 16px;
    margin: 0;
    margin-top: 5px;
}

.funnel-view .ed-table table tbody li.graph-caption p {
    font-size: 14px;
}
