.funnel-message #msform fieldset .form-control.unset-height {
    height: unset;
}

.funnel-message .ed-table table tbody li.graph-container.center-over-graph {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.funnel-message .ed-table table tbody li.graph-container.center-over-graph + li.graph-caption {
    position: absolute;
    text-align: left;
    transform: translateX(-20px) translateY(13px);
}

.funnel-message .ed-table table thead th:first-of-type,
.funnel-message .ed-table table tbody td:first-of-type {
    max-width: 80px;
}
.funnel-message .list-inline.first-tr {
  position: relative;
}
