.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.onboarding-parent {
  display: inline-block;
}

.onboarding {
  margin-bottom: 30px;
  text-align: left;
  position: relative;
  white-space: nowrap;
}

.onboarding .video {
  display: inline-block;
  width: 316px;
  height: 180px;
  background-color: white;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}

.onboarding .box {
  border: 1px solid #ccc;
  background-color: white;
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 450px;
  height: 180px;
  vertical-align: middle;
  white-space: normal;
}

.onboarding .status {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 20px;
}

.onboarding .status i {
  margin-left: 8px;
}

.onboarding .title {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 15px;
}

.onboarding button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}

.onboarding .helplink {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

@media (max-width: 1024px) {
  .onboarding {
    margin-bottom: 80px;
  }
  .onboarding .status {
    left: 0;
    top: 192px;
    position: absolute;
    margin-left: 0;
  }
}

@media (max-width: 840px) {
  .onboarding .box {
    width: 200px;
  }
  .onboarding .description {
    display: none;
  }
  .onboarding .helplink {
    bottom: 80px;
  }
  .onboarding button {
    left: 10px;
    right: unset;
  }
}

.onboarding-migrate {
  margin-bottom: 40px;
}

.onboarding-migrate a {
  text-decoration: underline;
}
