.Support {
  padding: 60px 0;
}

.Support form {
  margin: 0 auto;
  max-width: 520px;
}

.Support h5 {
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
}
