.policy-servers #msform fieldset .white-box.border1 {
  box-shadow: none;
}

.policy-servers .drag-handle {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 36px;
  height: 34px;
  cursor: pointer;
}
