.segments .ed-cards-container {
  padding: 0 40px;
}

.segments .pre-title {
  color: #aaa;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 400;
}

.segments .segment-name {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 0;
  padding: 0;
  font-weight: 500;
}

.segments .segment-name a {
  color: #333;
}

.segments .segment-name a:hover,
.segments .segment-name a:focus {
  color: #4c84ff;
}

.segments .circle {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 10px solid #d7f7eb;
  box-sizing: border-box;
}

.segments .circle .content {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.segments .circle .content .count {
  display: block;
  min-width: 100%;
  line-height: 1.2;
  color: #2dcca1;
  font-size: 27px;
}

.segments .circle .content .caption {
  display: block;
  min-width: 100%;
  font-size: 11px;
  color: #bbb;
  letter-spacing: .5px;
}

.segments .count-error-message {
  margin: 0;
  box-sizing: border-box;
}
