.servers .ed-cards-container {
  padding: 40px;
}

.servers .server-name {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 0;
  padding: 0;
  font-weight: 500;
}

.servers .server-name a {
  color: #333;
}

.servers .server-name a:hover,
.servers .server-name a:focus {
  color: #4c84ff;
}

.servers .server-icon {
  width: 60px;
  height: 60px;
}

.servers .mailgun-icon {
  width: 60px;
  height: 60px;
}
.servers .sparkpost-icon {
  width: 60px;
  height: 60px;
}
.servers .easylink-icon {
  width: 60px;
  height: 60px;
}
.servers .smtprelay-icon {
  width: 60px;
  height: 60px;
}

.servers .server-icon path {
  fill: #6f9dff;
}
