.templates .draft-name {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 0;
  padding: 0;
  font-weight: 500;
}

.templates .draft-name a {
  color: #333;
}

.templates .draft-name a:hover,
.templates .draft-name a:focus {
  color: #4c84ff;
}

.templates .message-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.templates .message-icon path {
  fill: rgba(170,224,255,.7);
}
