.table.log-table>thead>tr>th {
  padding-left: 8px;
  padding-bottom: 8px;
}
.table.log-table > tbody > tr > td {
  padding-top: 8px;
  padding-bottom: 8px;
}

section#table-sec.white-table-section {
  background-color: #fff;
}

.table-success {
  background-color: #e2f0da;
}
.table-info {
  background-color: #ddecf6;
}
.table-danger {
  background-color: #f2dede;
}

.table.log-table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 1px solid #444;
}
.table.log-table>thead>tr>th {
  border-bottom: 1px solid #444;
}
