/* EDTable */
.ed-table {
	overflow-x: scroll;
	width: 100%;
	overflow-y: hidden;
	position: relative;
	padding-bottom: 200px;
	margin-bottom: -200px;
}

.ed-table ~ * {
	position: relative;
}

.ed-table .table {
	margin: auto;
}

.ed-table.no-border .table {
	margin: auto;
	border: none;
}

@media all and (min-width: 1200px) {
	.ed-table .table {
		border: none;
	}

	.ed-table.growing-margin-left .table {
		margin-left: 4%;
	}
}

.ed-table .table>tbody>tr>td,
.ed-table .table>tbody>tr>th,
.ed-table .table>tfoot>tr>td,
.ed-table .table>tfoot>tr>th,
.ed-table .table>thead>tr>td,
.ed-table .table>thead>tr>th {
    line-height: 1.42857143;
    vertical-align: middle;
	border-top: none;
}

.ed-table .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0;
}

.ed-table table th{
	color: #89909e;
	text-transform: uppercase;
	font-weight: 500;
	padding: 20px 0;
	width: 12%;
	text-align: center;
}

.ed-table table th:first-child{
	width: 25%;
	padding: 15px 0 15px 15px;
	text-align: left;
}

.ed-table table td:first-child{
	padding: 15px 0 15px 15px;
	text-align: left;
}

.ed-table table td:first-child .list-inline {
	padding-left: 0;
}

.ed-table table tbody h4{
	color: #1c263f;
	font-size: 16px;
	font-weight: normal;
}

.ed-table table tbody h5{
	color: #4c84ff;
	font-size: 22px;
	font-weight: 500;
	margin-top: 0;
}

.ed-table table tbody p {
	color: #8b94a5;
	font-size: 14px;
	white-space: nowrap;
	line-height: 22px;
}

.ed-table td.inactive a {
	background: #feeaee;
    color: #f13559;
	border-radius: 4px;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
}

.ed-table table{
	width: 99.5%;
	text-align: center;
}

.ed-table table tbody li{
	vertical-align: middle;
}

.ed-table table tbody li:first-child{
	margin-right: 50px;
}

.ed-table table tbody .dropdown-menu li:first-child {
    margin-right: 0;
}

.ed-table .btn-primary{
	background: transparent;
	border: 1px solid #d9dde5;
	color: #8b94a5;
	padding: 9px 20px;
}

.ed-table .btn-primary .caret{
	margin-left: 10px;
}

.ed-table .list-unstyled li:first-child a{
	color: #3a4256;
}

.ed-table .list-unstyled li a{
	color: #8b94a5;
	display: block;
	margin: 5px 0;
}

.ed-table .list-unstyled li a:hover{
	text-decoration: none;
}

.ed-table .list-unstyled {
    background: #fff;
    box-shadow: 0 0 27px 3px #e3e8f2;
    padding: 20px 20px 20px 25px;
    position: absolute;
    left: 0;
    text-align: left;
    right: 0;
    margin: 0 auto;
    top: 90%;
    opacity: 0;
}

.ed-table td.error-menu .list-unstyled{
	opacity: 1;
}

.ed-table .list-unstyled li span{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000;
	margin-right: 5px;
}

.ed-table .list-unstyled:before{
	content: '';
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #fff;
    top: -10px;
}

.ed-table .list-unstyled li:first-child span{
	background: #f46767;
}
.ed-table .list-unstyled li:nth-child(2) span{
	background: #4c84ff;
}
.ed-table .list-unstyled li:last-child span{
	background: #ffc23e;
}

.ed-table table tbody h5.green-perc{
	color: #1ab78c;
}

.ed-table table tbody h5.blue-perc{
	color: #4b7efe;
}

.ed-table table tbody h5.red-perc{
	color: #f46767;
}

.ed-table table tbody p{
	margin-bottom: 0;
}

.ed-table table tbody .list-inline {
    white-space: nowrap;
    padding: 0 10px;
}

.ed-table table tbody .list-inline li {
    display: inline-block;
    margin: 0;
}

.ed-table table tbody li.graph-caption {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.ed-table table tbody li.graph-caption h5 {
    font-size: 14px;
    margin: 0;
}

.ed-table table tbody li.graph-container.center-over-graph {
    padding-left: 10px;
    padding-right: 50px;
    position: relative;
}

.ed-table table tbody li.graph-container.center-over-graph + li.graph-caption {
    position: absolute;
    text-align: left;
    transform: translateX(-50px) translateY(13px);
}
/* END EDTable */


/* EDCardsContainer and EDCard */
.ed-cards-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  width: 100%;
}

.ed-card {
  margin: 15px;
  flex-basis: 300px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

.card-header {
  text-align: center;
  padding: 30px 30px 34px;
  border-bottom: 1px solid #e8e8e8;
}

.card-body {
  padding: 30px 30px 45px;
}
/* END EDCardsContainer and EDCard */
