#Viewer table {
  border-spacing: 0;
  border-collapse: collapse; }

#Viewer table, #Viewer tr, #Viewer td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

#Viewer div.container {
  padding-left: 0;
  padding-right: 0;
}

#Viewer table.body {
  height: 100%;
  width: 100%; }

#Viewer table.row {
  padding: 0;
  width: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
#Viewer table.spacer {
  width: 100%;
}
#Viewer table.spacer td {
  mso-line-height-rule: exactly;
}
#Viewer table.container table.row {
  display: table;
}
#Viewer td.columns,
#Viewer td.column,
#Viewer th.columns,
#Viewer th.column {
  margin: 0 auto;
  Margin: 0 auto;
  text-align: center;
}
#Viewer td.columns table:not(.button),
#Viewer td.column table:not(.button),
#Viewer th.columns table:not(.button),
#Viewer th.column table:not(.button) {
  width: 100%;
}
#Viewer td.expander,
#Viewer th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important;
}
