.info-box {
  display: inline-block;
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 3px;
  margin-left: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #fff;
}
