@media (max-width: 1280px) {
  .menu-navbar .navbar-default .navbar-nav.nav-left>li:first-child a .hover-img {
    width: auto;
  }
}

.menu-navbar .navbar-default.backend {
  background-color: #4c84ff;
}

.navbar-header {
  padding: 0;
}

.menu-navbar .navbar-default .navbar-brand,
.menu-navbar .navbar-default .navbar-brand:hover,
.menu-navbar .navbar-default .navbar-brand:focus {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  height: unset;
  margin-top: 12px;
}

@media all and (max-width: 955px) {
  .menu-navbar .navbar-default .navbar-brand,
  .menu-navbar .navbar-default .navbar-brand:hover,
  .menu-navbar .navbar-default .navbar-brand:focus {
    margin-top: 0px;
  }
}

.menu-navbar .navbar-nav,
.menu-navbar .navbar-default .navbar-collapse {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-navbar .navbar-default .navbar-nav.nav-left {
  margin-top: 0;
}

.menu-navbar .navbar-default .navbar-toggle:focus,
.menu-navbar .navbar-default .navbar-toggle:hover {
  background-color: #3f70db;
}

.menu-navbar .navbar-default .navbar-toggle .icon-bar {
  background-color: #eee;
}

.menu-navbar .navbar-default .navbar-text {
  color: #fff;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-navbar .navbar-default .navbar-text .title-text {
  display: inline-block;
  vertical-align: top;
}

.menu-navbar .navbar-default .navbar-nav {
  float: none;
  display: block;
}

.menu-navbar .navbar-default .navbar-nav.nav-left .dropdown {
  background-color: #4c84ff;
  padding: 15px 20px;
  display: block;
}

.menu-navbar .navbar-default .navbar-nav.nav-left > li .fa {
  color: rgba(170, 224, 255, .7);
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.menu-navbar .navbar-default .navbar-nav.nav-left .dropdown > a {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.menu-navbar .navbar-default .navbar-nav .dropdown-toggle span {
  font-size: 18px;
  font-weight: 600;
}

.menu-navbar .navbar-default .navbar-nav .nav-icon {
  display: inline-block;
  margin-right: 14px;
  margin-top: -2px;
  vertical-align: middle;
  width: 28px;
}

.menu-navbar .navbar-default .navbar-nav .nav-icon.tie-guy {
  width: 34px;
  margin-right: 10px;
}

.menu-navbar .navbar-default .navbar-nav .nav-icon.envelope {
  width: 32px;
}

.menu-navbar .navbar-default .navbar-nav .nav-icon.strategy {
  width: 30px;
}

.menu-navbar .navbar-default .navbar-nav .nav-icon.plug {
  width: 25px;
  height: 25px;
}

.menu-navbar .navbar-default .navbar-nav .nav-icon.reports-graph {
  width: 31px;
}

.menu-navbar .navbar-default .navbar-nav .nav-icon path {
  fill: rgba(170,224,255,.7);
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon {
  display: inline-block;
  margin-right: 14px;
  margin-top: -2px;
  vertical-align: middle;
  width: 24px;
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon path {
  fill: #333;
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon.thermometer {
  margin-right: 12px;
  margin-left: 2px;
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon.server-stack path {
  fill: #6f9dff;
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon.cogs path {
  fill: #cce;
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon.thermometer path:nth-of-type(1) {
  fill: red;
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon.brain-guy path:nth-of-type(2) {
  fill: #ff8fa3;
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon.not-allowed-guy path:nth-of-type(2) {
  /*fill: red;*/
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon.mailgun path {
  fill: #c12126;
}

.menu-navbar .navbar-default .navbar-nav .dropdown-icon.ses {
  width: 24px;
  height: 24px;
}


.menu-navbar .navbar-default .navbar-nav .dropdown-icon.sparkpost,
.menu-navbar .navbar-default .navbar-nav .dropdown-icon.easylink,
.menu-navbar .navbar-default .navbar-nav .dropdown-icon.smtprelay
{
  padding: 0;
}

.menu-navbar .navbar-default .navbar-nav.nav-left .dropdown .dropdown-menu {
  background-color: #fff;
  padding: 8px 0;
  margin-top: 10px;
  float: none;
  width: 100%;
  position: relative;
}

.menu-navbar .navbar-default .navbar-nav.nav-left .dropdown .dropdown-menu a {
  color: #333;
  margin: 0;
}

.menu-navbar .navbar span.caret {
  display: none;
}

.menu-navbar .navbar button[id="save-exit"] span.caret {
  display: inline-block;
}

#useractions {
  padding: 0; 
  margin: 0;
  height: unset;
}

#useractions .user-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-align: left;
  padding: 17px 15px 17px;
  padding-bottom: 5px;
}

#useractions .user-container .user-photo {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid #fff;
  margin-right: 4px;
  text-align: center;
  background-color: #3861bc;
}

#useractions .user-container .user-photo .user-initials {
  display: inline-block;
  font-size: 24px;
  line-height: 42px;
  margin-left: 1px;
  color: #eee;
  font-weight: 700;
}

#useractions .user-container .user-fullname {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  display: block;
  overflow: hidden;
}

#useractions .user-container .user-companyname {
  color: #ddd;
  font-size: 12px;
  font-weight: 400;
  display: block;
  line-height: 1.1;
  overflow: hidden;
}

#useractions .user-container i.fa-caret-down {
  font-size: 20px;
  margin-left: 10px;
}

.menu-navbar .nav.navbar-nav.navbar-right {
  padding-bottom: 15px;
}

.menu-navbar .nav.navbar-nav.navbar-right .dropdown {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-navbar .navbar-nav .open #useractions + .dropdown-menu {
  background-color: #fff;
  margin-top: 0 !important;
  width: 100%;
  float: none;
  position: static;
  box-shadow: none;
}

@media all and (min-width: 768px) {
  .menu-navbar .container-fluid > .navbar-header,
  .menu-navbar .container-fluid > .navbar-collapse,
  .menu-navbar .navbar-nav {
    margin-right: -15px;
    margin-left: -15px;
  }

  .menu-navbar .navbar-header {
    float: none;
  }

  .menu-navbar .navbar-default .navbar-toggle {
    display: block;
  }

  .menu-navbar .navbar-collapse.collapse {
    display: none!important;
    height: 0!important;
    padding-bottom: 0;
    overflow: hidden!important;
    border-top: 1px solid #e7e7e7;
  }

  .menu-navbar .navbar-collapse.collapse.in {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: auto!important;
  }

  .menu-navbar .navbar-right {
    float: none!important;
  }
}

.navbar-default .navbar-brand {
  margin-right: 0px;
}

span.user-fullname, span.user-companyname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
@media all and (min-width: 956px) and (max-width: 975px) {
  span.user-fullname, span.user-companyname {
    max-width: 81px;
  }
}
@media all and (min-width: 976px) and (max-width: 999px) {
  span.user-fullname, span.user-companyname {
    max-width: 101px;
  }
}
@media all and (min-width: 1000px) and (max-width: 1019px) {
  span.user-fullname, span.user-companyname {
    max-width: 115px;
  }
}
@media all and (min-width: 1020px) and (max-width: 1054px) {
  span.user-fullname, span.user-companyname {
    max-width: 145px;
  }
}
@media all and (min-width: 1055px) {
  span.user-fullname, span.user-companyname {
    max-width: 180px;
  }
}

@media all and (min-width: 956px) {
  .menu-navbar .container-fluid > .navbar-header,
  .menu-navbar .container-fluid > .navbar-collapse,
  .menu-navbar .navbar-nav {
    margin-right: unset;
    margin-left: unset;
  }

  .menu-navbar .navbar-header {
    float: left;
  }

  .menu-navbar .navbar-default .navbar-brand,
  .menu-navbar .navbar-default .navbar-brand:hover,
  .menu-navbar .navbar-default .navbar-brand:focus {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    height: unset;
    margin-right: 0;
  }

  .menu-navbar .navbar-default .navbar-nav {
    display: inline-block;
  }

  .navbar-nav,
  .menu-navbar .navbar-default .navbar-collapse {
    text-align: center;
    border-top: none;
  }

  .menu-navbar .navbar-default .navbar-toggle {
    display: none;
  }

  .menu-navbar .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }

  .menu-navbar .nav.navbar-nav.navbar-right {
    float: right!important;
    padding-bottom: 0;
  }

  .menu-navbar .navbar-default .navbar-nav.nav-left > .dropdown {
    padding: 25px 20px;
    display: inline-block;
  }

  .menu-navbar .nav.navbar-nav.navbar-right .dropdown {
    width: inherit;
    padding-left: 0;
    padding-right: 0;
  }

  .menu-navbar .navbar-default .navbar-nav.nav-left .dropdown .dropdown-menu {
    margin-top: 0;
    width: unset;
    position: absolute;
  }

  .menu-navbar .navbar-nav .open #useractions + .dropdown-menu {
    margin-top: 10px !important;
    width: unset;
    float: none;
    position: absolute;
    box-shadow: 0 4px 0px #eaecf5;
  }
}

.menu-navbar .navbar-default .navbar-nav li.billing-nav a {
  color: white;
  padding-top: 30px;
}
.menu-navbar .navbar-default .navbar-nav li.billing-nav.no-link a {
  cursor: default;
}
.menu-navbar .navbar-default .navbar-nav li.billing-nav svg path {
  fill: rgba(170,224,255,.7);
}
.menu-navbar .navbar-default .navbar-nav li.billing-nav .dropdown-icon {
  margin-right: 4px;
}

.sent-progress {
  padding-left: 20px;
  padding-right: 20px;
}

.alert.alert-server {
  margin-bottom: 0;
  border-radius: 0;
}
