#new-template {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
  text-align: center;
}

#new-template .remove-button {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 32px;
  cursor: pointer;
}

#newt-sidebar {
  position: absolute;
  left: 0;
  text-align: left;
  top: 60px;
  padding: 20px;
  padding-right: 0;
  width: 183px;
  border-right: 1px solid #ccc;
}

#advanced {
  margin-top: 50px;
  color: #ccc;
}

#newt-templates {
  text-align: left;
}
#newt-templates.center {
  text-align: center;
}

#newt-templates, #newt-import {
  position: absolute;
  left: 183px;
  top: 60px;
  width: calc(100% - 183px);
  overflow: scroll;
}

#newt-sidebar, #newt-templates, #newt-import {
  background: #f5f6fa;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  bottom: 0;
}

#newt-templates > .glyphicon-refresh {
  margin-top: 100px;
  margin-bottom: calc(340px - 14px);
}

#newt-templates .template-section {
  padding-left: 20px;
}
#newt-templates .template-section:first-child {
  padding-top: 20px;
}

#newt-templates .template-box {
  display: inline-block;
  margin: 15px;
  margin-top: 30px;
  position: relative;
  width: 250px;
  height: 300px;
  text-align: center;
}
#newt-templates .template-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  border: solid 1px #ccc;
  overflow: hidden;
}
#newt-templates .template-img:hover {
  overflow: visible;
  box-shadow: 0px 0px 4px 4px #ccc;
}

#newt-templates .template-box .template-box-overlay {
  position: absolute;
  background: rgba(21, 21, 21, .85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#newt-templates .template-box .template-box-overlay p {
  color: white;
  margin-top: 50px;
}

#newt-templates .template-box .template-title {
  position: absolute;
  width: 210px;
  top: -20px;
  left: 20px;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#newt-templates .template-box .template-zoom {
  position: absolute;
  top: -20px;
  right: 0;
  color: #aaa;
  cursor: pointer;
}

#newt-templates .template-img {
  width: 100%;
  height: 100%;
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-color: #fff;
}

#template-title {
  text-align: left;
  padding-left: 20px;
}

.newt-popover > .popover-content {
  text-align: center;
}
.newt-popover > .popover-content > button,
#newt-templates .template-box .template-box-overlay button {
  padding: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 13px;
}

.newt-popover > .popover-content > button:last-child,
#newt-templates .template-box .template-box-overlay button:last-child {
  margin-left: 10px;
}

#newt-sidebar .side-link {
  position: relative;
}

.newt-arrow {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #ccc transparent transparent;
  vertical-align: middle;
  right: 0;
  top: 3px;
}

#newt-import {
  text-align: left;
  padding: 20px;
}

#new-template #newt-import label.control-label {
  margin-bottom: 14px;
}

#newt-import input {
  width: auto;
}

#newt-import .reverse {
  text-overflow: clip;
  position: relative;
  background-color: white;
  overflow: hidden;
}
#newt-import a:hover .reverse {
  background-color: #f5f5f5;
}
#newt-import a.active .reverse {
  background-color: #337ab7;
}

#newt-import .reverse:before {
  content: '\02026';
  position: absolute;
  z-index: 1;
  left: -1em;
  background-color: inherit;
  padding-left: 1em;
  margin-left: 0.5em
}

#newt-import .reverse span {
  min-width: 100%;
  position: relative;
  display: inline-block;
  float: right;
  overflow: visible;
  background-color: inherit;
  text-indent: 0.5em;
}

#newt-import .reverse span:before {
  content: ' ';
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: inherit;
  z-index: 200;
  left: -0.5em;
}

#empty-msg, #empty-header {
  text-align: center;
}

#empty-header {
  margin-top: 40px;
}

.mailbakery {
  margin-top: 140px;
}

.mailbakery a {
  color: #a9aab5;
}
