.color-buttons button {
  padding: 4px 8px;
  font-size: 14px;
}

.color-buttons {
  margin-bottom: 8px;
}

.popover-content div input.color-input {
  display: inline-block;
  background-color: white;
  font-size: 11px;
  font-family: menlo;
  border-radius: 2px;
  border: none;
  box-shadow: rgb(218, 218, 218) 0px 0px 0px 1px inset;
  height: 21px;
  text-align: center;
  padding-left: 16px;
  width: 206px;
  vertical-align: top;
  text-transform: uppercase;
  margin-top: 10px;
  padding-top: 3px;
}

.sketch-picker > div:last-child {
  display: none !important;
}

.swatches-picker span > div {
  margin-bottom: 0 !important;
  width: 18px !important;
  height: 18px !important;
  border-radius: 0 !important;
}
.swatches-picker span > div > div {
  margin-left: 0 !important;
}
.swatches-picker span > div > div > svg {
  margin-left: -3px !important;
  margin-top: -3px !important;
}
.swatches-picker > div > div > div > div > div {
  margin-right: 0 !important;
  padding-bottom: 0 !important;
  width: 18px !important;
  height: 18px !important;
}
.swatches-picker > div > div > div > div {
  padding: 13px !important;
}
