#preheader-toolbar {
  width: calc(100% - 510px);
  text-align: left;
}

#preheader-toolbar input {
  text-align: left;
  width: calc(100% - 75px);
  min-width: 100px;
  padding: 4px 10px;
  height: 32px !important;
  display: inline-block;
  margin-right: 8px;
}

#preheader-toolbar > .fa {
  color: white;
  margin-left: 8px;
  font-size: 20px;
  vertical-align: middle;
}
#preheader-toolbar > .fa.fa-check-circle {
  color: #2dcca1;
}

#preheader-toolbar button.btn-clear {
  font-size: 13px;
  background-color: #448cff;
  border: 1px solid white;
  border-radius: 3px;
  padding: 7px 16px;
  color: white;
  margin-right: 4px;
  min-width: 27px;
}
#preheader-toolbar button.btn-clear.btn-small {
  padding: 3px 6px;
}

#preheader-toolbar.black button.btn-clear {
  background-color: #3e4c57;
}

#preheader-toolbar button.btn-clear:hover {
  background-color: #639fff;
}

#preheader-toolbar.black button.btn-clear:hover {
  background-color: #5f7687;
}
