.save-navbar .navbar-default .navbar-text {
  color: #fff;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.save-navbar .navbar-default .navbar-text .back-arrow,
.save-navbar .navbar-default .navbar-text .title-text {
  vertical-align: middle;
}

.save-navbar .navbar-default .navbar-text .back-arrow {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 15px;
  line-height: .9;
  cursor: pointer;
}

.save-navbar .navbar-default .navbar-nav>li.nav-button>a {
  padding-top: 8px !important;
  padding-bottom: 0 !important;
}
