.test-container, .test-panel {
  position: relative;
}

.test-container {
  padding-left: 32px;
}

.test-panel::before, .test-panel::after {
  content: "";
  position: absolute;
  left: -24px;
}

.test-panel::before {
  border-top: 1px solid #ccc;
  top: 20px;
  width: 20px;
  height: 0;
}

.test-panel::after {
  border-left: 1px solid #ccc;
  height: calc(100% + 31px);
  width: 0px;
  top: 2px;
}

.test-container > .test-panel:last-child::after {
  height: 18px;
}

.form-inline div.rdt {
  display: inline-block
}
