.table-pie {
  position: relative;
}

.table-pie .children {
  position: absolute;
}

.table-pie2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.table-pie2-label {
  text-align: left;
}

.table-pie2-label-pct {
  color: #65C9A3;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.table-pie2-label-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -2%;
  color: #BBBBBB;
}