#TemplateEditor {
  box-shadow: 0 8px 5px 0px #ebedf5;
}

#PartDrawer {
  border: 1px solid #cccccc;
  border-right: 0px;
  border-bottom-left-radius: 6px;
  min-width: 217px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #333;
}

div.noborder #PartDrawer {
  border: none;
}

#parttabs-pane-1 {
  padding-top: 6px;
  padding-left: 6px;
}

#parttabs-pane-2 {
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  width: 216px;
  min-height: 417px;
}

#parttabs-pane-2 button {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #3e4c57;
  color: #fff;
  border: none;
}

#parttabs-pane-2 button:hover {
  background-color: #607A8A;
}

#parttabs-pane-2 .panel {
  overflow: hidden;
}

#parttabs-pane-2 .panel-heading {
  background-color: #3e4c57;
  color: #fff;
}

#edit-accordion .panel-heading {
  background-color: #3e4c57;
  color: #fff;
}

#edit-accordion {
  color: #333;
}

#PartDrawer.fixed {
  height: 575px;
}

#PartDrawer .part {
  display: inline-block;
  width: 99px;
  margin-left: 0px;
  margin-right: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  cursor: pointer;
}

#Viewer {
  position: relative;
  border: 1px solid #ccc;
}

#Viewer.body-form {
  background-image: url('/img/check.svg');
  background-size: 60px 60px;
  background-color: rgb(71, 71, 71) !important;
}

span.theme-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: -2px;
}

#bodyoptions {
  position: absolute;
  left: 0px;
  top: -35px;
}

#bodytoolbarbutton {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#bodytoolbarbutton.extended {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#bodytoolbar {
  display: none;
}

#bodytoolbar.extended {
  display: block;
  position: absolute;
  left: 48px;
  width: 321px;
  top: 0px;
}

#bodytoolbar.extended .btn-group:first-child *:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#bodytoolbar.extended .btn-group:last-child *:last-child {
  border-bottom-right-radius: 0px;
}

#bodyoptions #themes {
  border-bottom-left-radius: 0px;
}

#Viewer .placeholder {
  height: 40px;
  background-color: rgba(113, 166, 252, .5);
  border: solid 1px #6394e2;
  pointer-events: none;
}

#Viewer .part-display .placeholder {
  height: 0px;
  border: solid 3px #6394e2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#Viewer .part-display .placeholder.pink {
  border: solid 3px #BD4ED8;
}

#Viewer .part-display .placeholder.bottom {
  border: solid 3px #BD4ED8;
  top: auto;
  bottom: 0;
}

#Viewer .hover-overlay {
  position: absolute;
  background-color: rgba(113,166,252,.30);
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  border: 2px solid rgb(113,166,252);
  pointer-events: none;
  z-index: 100;
}

#Viewer .hover-overlay.hover-pink {
  background-color: rgb(189, 78, 216, .30);
  border-color: rgb(189, 78, 216);
}

#Viewer .selected-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  border: 2px solid rgb(113,166,252);
  pointer-events: none;
  z-index: 100;
}

#Viewer .selected-overlay.selected-pink {
  border-color: rgb(189, 78, 216);
}

#Viewer .properties {
  cursor: auto;
}

#Viewer .confirm-button {
  position: absolute;
  top: 3px;
  right: 3px;
}
#Viewer .confirm-button .glyphicon {
  margin-right: 0px;
}

#Viewer .grab-icon {
  position: absolute;
  top: 6px;
  left: 6px;
}

#Properties {
  min-height: 50px;
}

.edit-toolbar.btn-toolbar>.btn-group {
  margin-bottom: 5px;
}

.btn.square-btn {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #3e4c57;
  color: #fff;
  border: none;
}

.btn.square-btn:hover {
  background-color: #607A8A;
}

.btn.square-btn:not(:last-child) {
  border-bottom: 2px solid #eaebf0;
}

div.popup-toolbar {
  position: absolute;
  top: 2px;
  z-index: 1001;
}

div.popup-toolbar .btn {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #3e4c57;
  color: #fff;
  border: none;
}

div.popup-toolbar .btn:hover {
  background-color: #607A8A;
}

div.popup-toolbar .btn.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

div.edit-toolbar .btn {
  background-color: #3e4c57;
  color: #fff;
  border: none;
}
div.edit-toolbar .btn.active {
  background-color: #eaebf0;
  color: #3e4c57;
}

div.edit-toolbar .btn:hover {
  background-color: #607A8A;
}

div.edit-toolbar .btn-group>.btn:not(:last-child) {
  border-right: 2px solid #eaebf0;
}

#edit-popover {
  padding: 0;
  border: 0;
  box-shadow: none;
}

#edit-popover .popover-content {
  padding: 0;
  width: 167px;
  height: 100px;
}

#edit-popover .panel-group .panel+.panel {
  margin-top: 0;
}

#edit-popover .panel-group {
  margin-bottom: 0;
}

#edit-popover .panel-group .panel {
  border-radius: 0;
}

#msform .properties input {
  padding: inherit;
  margin-bottom: inherit;
  box-sizing: inherit;
  color: inherit;
  width: inherit;
}

#msform fieldset .properties .form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  box-shadow: inherit;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.column-placeholder {
  width: 80%;
  height: 128px;
  line-height: 128px;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.column-placeholder img {
  max-width: 100%;
  max-height: 128px;
}

.ph-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(189, 78, 216);
}

.column-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  border: 1px dashed #666;
  z-index: 1001;
}

thead.column-line > tr > th > .column-left-button {
  position: absolute;
  left: -12px;
  top: calc(50% - 30px);
}
thead.column-line > tr > th > .column-right-button {
  position: absolute;
  left: -12px;
  top: calc(50% + 10px);
}
thead.column-line > tr > th > .column-left-button,
thead.column-line > tr > th > .column-right-button {
  background-color: #3e4c57;
  color: #fff;
  border: none;
}
thead.column-line > tr > th > .column-left-button:hover,
thead.column-line > tr > th > .column-right-button:hover {
  background-color: #607A8A;
}
thead.column-line > tr > th > .column-left-button:active:hover,
thead.column-line > tr > th > .column-right-button:active:hover {
  color: #333;
}

button#themes+ul.dropdown-menu {
  left: inherit;
  right: inherit;
}

.colconfig-row {
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
  border: 2px solid #337ab7;
  border-radius: 5px;
  margin-bottom: 20px;
}

.colconfig-row:hover {
  background-color: #eee;
}

.colconfig-col-first {
  border-color: #337ab7;
  height: 20px;
  background-color: rgba(51, 122, 183, .1);
}

.colconfig-col-even {
  border-left-style: solid;
  border-left-width: 2px;
  border-color: #337ab7;
  height: 20px;
  background-color: rgba(51, 122, 183, .1);
}

.colconfig-col-odd {
  border-left-style: solid;
  border-left-width: 2px;
  border-color: #337ab7;
  height: 20px;
}

#newpart-popover {
  background-color: #3e4c57;
  color: white;
  max-width: 290px;
}

#newpart-popover.newpart-popover-form {
  max-width: 385px;
}

#newpart-popover > .arrow::after {
  border-bottom-color: #3e4c57;
}

#newpart-popover > .popover-content {
  white-space: nowrap;
  padding-left: 4px;
}

#newpart-popover > .popover-content > button {
  width: 90px;
  height: 90px;
  padding: 0;
  border: 0;
  margin-right: 4px;
}

#newpart-popover > .popover-content > button:last-child {
  margin-right: 0px;
}

#stock-modal .modal-dialog {
  width: 90%;
  max-width: none !important;
}

#stock-modal p {
  margin-bottom: 0;
}

#stock-modal .select-div {
  text-align: right;
}

#stock-modal select {
  width: auto;
  min-width: 50px;
  display: inline-block;
}

#stock-image-gallery {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
}

#stock-image-gallery .stock-image-box {
  position: relative;
  display: inline-block;
  margin: 8px;
}
#stock-image-gallery .stock-image-box:hover {
  box-shadow: 0px 0px 4px 4px #ccc;
}

#stock-image-gallery .stock-zoom-box {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: rgba(28, 28, 28, 0.8);
}

#stock-image-gallery .stock-unzoom-btn {
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
  color: white;
  font-size: 50px;
}

#stock-image-gallery .stock-unzoom-btn:hover {
  color: #68bdff;
}

#stock-modal img.zoom-img {
  max-height: 95%;
  max-width: 95%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#stock-image-gallery .stock-image-box img {
  height: 84px;
  cursor: pointer;
}

#stock-button {
  font-size: 14px !important;
  padding: 6px 12px !important;
}

#msform fieldset #edit-accordion label {
  margin-bottom: 4px;
}
#msform fieldset #body-accordion label {
  margin-bottom: 4px;
}

#TemplateEditor {
  position: relative;
}

#TemplateEditor.fixed-editor {
  position: fixed;
  top: 52px;
  left: 0;
  bottom: 0;
  right: 0;
}

#TemplateEditor.fixed-editor #PartDrawer {
  position: fixed;
  top: 52px;
  left: 0;
  bottom: 0;
  width: 217px;
  background-color: rgb(245, 246, 250);
}

#TemplateEditor.fixed-editor #Viewer {
  overflow-y: scroll;
  overflow-x: auto;
  position: fixed;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 217px;

}
#TemplateEditor.fixed-editor #Viewer .hover-overlay:not(.hover-pink) {
  left: 217px;
}
#TemplateEditor.fixed-editor #Viewer .selected-overlay:not(.selected-pink) {
  left: 217px;
}

#FormCloseButton {
  position: absolute;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  width: 26px;
  height: 26px;
  line-height: 22px;
  border-radius: 26px;
  cursor: pointer;
  border: 1px solid #333;
  font-family: Helvetica;
}

#FormCloseButton.dark {
  background-color: #333;
  color: #fff;
  border-color: #fff;
}
#FormCloseButton.noborder {
  border-color: #fff;
}
#FormCloseButton.dark.noborder {
  border-color: #333;
}

#PartDrawer .nav-tabs>li.active>a,
#PartDrawer .nav-tabs>li.active>a:focus,
#PartDrawer .nav-tabs>li.active>a:hover {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgb(62, 76, 87);
}
#PartDrawer .nav-tabs>li>a,
#PartDrawer .nav-tabs>li>a:focus,
#PartDrawer .nav-tabs>li>a:hover {
  border: none;
  border-bottom: 3px solid #ddd;
  margin-right: 0;
  text-align: center;
}

#PartDrawer .nav-tabs {
  border-bottom: 1px solid transparent;
}
#PartDrawer .nav-tabs>li {
  width: 50%;
}

.edit-toolbar > .btn-group > div.dropdown > button#fonts + ul {
  max-height: 230px;
  overflow-y: scroll;
}
