.single-row-toolbar {
  background-color: #3e4c57;
}

.single-row-toolbar button.LoaderButton,
.single-row-toolbar button.LoaderButton:active {
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}