

/* =========== Typography ========== */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  background: #f5f6fa;
}

html ,body{
    height: 100%;
    width: 100%;
}
/* ======DEFAULT BROWSER STYLE========= */
a:focus{
    text-decoration: none;
}
a:focus,.btn:focus,.btn:active:focus,
button:focus,input[type="file"]:focus, 
input[type="radio"]:focus, 
input[type="checkbox"]:focus{
    outline: none;
}

a:hover{
	text-decoration: none;
}
/* =========== SPACE CLASSES=========== */
.space5{margin-top: 5px;}
.space10{margin-top: 10px;}
.space15{margin-top: 15px;}
.space20{margin-top: 20px !important;}
.space25{margin-top: 25px;}
.space30{margin-top: 30px !important;}
.space40{margin-top: 40px;}
.space50{margin-top: 50px !important;}
.space60{margin-top: 60px;}
.space70{margin-top: 70px;}
.space80{margin-top: 80px;}
.space100{margin-top: 100px;}
.pad0{padding: 0;}
.m0{margin: 0 !important;}
.mr-10{
	margin-right: 10px;
}
.f500{
	font-weight: 500;
}

/*===================START MAIN CSS=================*/


/*------ header css ----------*/


.navbar-default .navbar-nav>li>a {
    color: #bed2fe;
    padding: 25px 15px;
    font-size: 14px;
}

.navbar-default .navbar-nav.nav-left>li>a{
    padding: 34px 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-nav .caret , #broadcast .caret {    
    border-top: 6px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left: 5px;
}

#broadcast .input-group-addon{
	position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    z-index: 99;
    line-height: 25px;
}

.daterangepicker {
    right: 0 !important;
    left: auto !important;
}

.daterangepicker:before,.daterangepicker:after{
	content: none;
}

#broadcast .input-group{
	width: 50%;
}

.date-range-part{
	position: absolute;
	right: 30px;
	width: 400px;
	top: 35px;
}

.date-range-part .fa{
	position: absolute;
    right: 0;
    background: #eee;
    top: 0;
    display: block;
    height: 100%;
    width: 40px;
    text-align: center;
    line-height: 40px;
}

.navbar-default .navbar-nav.navbar-right>li:first-child ul.dropdown-menu a{
	color: #333;
}

.navbar-nav>li {
    vertical-align: middle;
    float: none;
    display: inline-block;
}

.navbar-nav>li.active{
	position: relative;
}

.navbar-nav>li.open:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #fff;
    bottom: -1px;
}

header .dropdown-menu>li>a .hover-img{
	display: none;
}

header .dropdown-menu>li>a:hover .hover-img{
	display: inline-block;
}

header .dropdown-menu>li>a:hover .img1{
	display: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #4c84ff;
    background: #ebf2fc;
}

.navbar-nav.navbar-right>li.open:before{
	bottom: -10px;
}

.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 10px !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: transparent;
}

.navbar-nav{
	float: none;
	display: inline-block;
	text-align: center;
}

.navbar-header{
	padding: 32px 15px 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin-right: 50px;
    padding: 0;
    margin-left: 0;
}
/*.navbar-default .navbar-nav.navbar-right>li:first-child a{
	color: #fff;
}*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav.nav-left>li .img{
	display: inline-block;
	margin-right: 10px;
}

.navbar-default .navbar-nav.nav-left>li .fa{
	margin-right: 10px;
	font-size: 23px;
	vertical-align: text-bottom;
}

.navbar-default .navbar-nav.nav-left>li .img-active{
	display: none;
}

.navbar-default .navbar-nav.nav-left>li.active .img{
	display: none;
}

.navbar-default .navbar-nav.nav-left>li.active .img-active{
	display: inline-block;
	margin-right: 10px;
}

.navbar-default .navbar-nav.nav-left>li a:hover .img{
	display: none;	
}

.navbar-default .navbar-nav.nav-left>li a:hover .img-active{
	display: inline-block;
	margin-right: 10px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default{
	background: #4c84ff;
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
	z-index: 99;
}


/*------------------------------*/



/*----------- broadcast css ------------*/

.review #broadcast{
    padding: 25px 15px;
}

.review #broadcast ul{
    margin-bottom: 0;
}

.review #broadcast a{
    font-size: 13px;
    color: #8b94a5;
}

.review #broadcast a .fa{
    margin-right: 10px;
    font-size: 22px;
    vertical-align: text-bottom;
}

#broadcast h3{
	color: #1c263f;
	font-weight: 500;
	margin: 0;
}

#broadcast{
	background: #fff;
	padding-top: 25px;
	position: relative;
	/*margin-top: -110px;*/
}

body.open-submenu #broadcast{
	margin-top: 0;
}

section{
	padding: 0 30px;
}

#broadcast .nav-tabs>li.active>a, 
#broadcast .nav-tabs>li.active>a:focus, 
#broadcast .nav-tabs>li.active>a:hover {
    color: #293248;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
    border-bottom: 2px solid #4c84ff;
}

#broadcast .nav-tabs {
    border-bottom: 0;
    margin-left: -4px;
}

#broadcast .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

#broadcast .nav>li>a{
	padding: 10px 5px;
	color: #8b94a5;
	border: 0;
	border-bottom: 2px solid transparent;
}

#broadcast .nav>li{
	margin-right: 35px;
}

.flex-items{
	display: flex;
	align-items: center;
}

.flex-items.space-between {
	justify-content: space-between;
}

.flex-items.space-around {
	justify-content: space-around;
}

.flex-items.justify-center {
	justify-content: center;
}

#broadcast .form-control{
	box-shadow: none;
	height: 40px;
	border: 1px solid #d9dde5;
	padding-left: 35px;
}

#broadcast li{
	position: relative;
}

#broadcast li img{
	position: absolute;
	left: 14px;
	top: 12px;
}

#broadcast .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8b94a5;
  font-size: 13px;
}
#broadcast .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #8b94a5;
  font-size: 13px;
}
#broadcast .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #8b94a5;
  font-size: 13px;
}
#broadcast .form-control:-moz-placeholder { /* Firefox 18- */
  color: #8b94a5;
  font-size: 13px;
}


/*----------------------------------------------*/



/*----------- table-sec css ------------------*/

.blue-border{
	border-bottom: 2px solid #d4e3fc;
}
.blue-border1{
	border-bottom: 2px solid #a8c6fa;
}
.red-border{
	border-bottom: 2px solid #ff3823;
}
#table-sec .dropdown-menu{
	left: auto;
	right: 0;
}

.error-btn{
	cursor: pointer;
}




/*-------------------------------------*/


/*--------------- wizard sec css ---------------*/

fieldset .tab_ul li:last-child{
    float: right;
}

#msform {
	
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset .white-box{
    background: white;
    border: 0 none;
    border-radius: 5px;
    
    padding: 35px 45px;
    box-sizing: border-box;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    position: relative;
    text-align: left;
    display: block;
}
#msform fieldset .white-box.wide {
	max-width: 100%;
}
#msform fieldset .white-box.border{
	border: 1px solid #4c84ff;
	box-shadow: 0px 4px 0px 0px #e7eefe;
}
#msform fieldset .white-box.border1{
	border: 1px solid #e0e4ed;
	box-shadow: 0px 4px 0px 0px #e7eefe;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
fieldset{
	width: 100%;
}
/*buttons*/
#msform .action-button {
	width: 13%;
	background: #2dcca1;
	font-weight: 600;
	color: white;
	border: 0 none;
	border-radius: 4px;
	cursor: pointer;
	padding: 16px 5px;
	margin: 40px auto;
    display: inherit;
}
/*#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}*/
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	width: 600px;
	margin: -135px auto 30px;
	text-align: center;
	padding: 0;
}
#progressbar li {
	list-style-type: none;
	color: #293248;
	text-transform: capitalize;
	font-size: 14px;
	width: 32.33%;
	float: none;
	display: inline-block;
	position: relative;
}
#progressbar li.active-nxt span.round-img{
	background: #4c84ff;
	border: 2px solid #4c84ff;
}
#progressbar li img{
	display: block;
	margin: 0 auto;
	padding: 8px 0;
}

#progressbar li.active span.wi-txt{
	border-bottom: 2px solid #4c84ff;
	display: inline-block;
    padding-bottom: 15px;
}

#progressbar li.active span.round-img {
    border: 2px solid #4c84ff;
}

#progressbar li span.round-img {
    width: 40px;
    height: 40px;
    border: 2px solid #dbdde4;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    z-index: 999;
}

#progressbar li .step-active{
	display: none;
}

#progressbar li .step{
	display: block;
}

#progressbar li.active .step-active{
	display: block;
}

#progressbar li.active .step{
	display: none;
}
/*#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}*/
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 1px;
	background: #e5e7ee;
	position: absolute;
	left: -50%;
	top: 19px;
	z-index: 9; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #4c84ff;
	color: white;
}

#progressbar2 {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	width: 600px;
	margin: -135px auto 30px;
	text-align: center;
	padding: 0;
}
#progressbar2 li {
	list-style-type: none;
	color: #293248;
	text-transform: capitalize;
	font-size: 14px;
	width: 32.33%;
	float: none;
	display: inline-block;
	position: relative;
}
#progressbar2 li.active-nxt span.round-img{
	background: #4c84ff;
	border: 2px solid #4c84ff;
}
#progressbar2 li img{
	display: block;
	margin: 0 auto;
	padding: 8px 0;
}

#progressbar2 li.active span.wi-txt{
	border-bottom: 2px solid #4c84ff;
	display: inline-block;
    padding-bottom: 15px;
}

#progressbar2 li.active span.round-img {
    border: 2px solid #4c84ff;
}

#progressbar2 li span.round-img {
    width: 40px;
    height: 40px;
    border: 2px solid #dbdde4;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    z-index: 999;
}

#progressbar2 li .step-active{
	display: none;
}

#progressbar2 li .step{
	display: block;
}

#progressbar2 li.active .step-active{
	display: block;
}

#progressbar2 li.active .step{
	display: none;
}
/*#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}*/
/*progressbar connectors*/
#progressbar2 li:after {
	content: '';
	width: 100%;
	height: 1px;
	background: #e5e7ee;
	position: absolute;
	left: -50%;
	top: 19px;
	z-index: 9; /*put it behind the numbers*/
}
#progressbar2 li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar2 li.active:before,  #progressbar li.active:after{
	background: #4c84ff;
	color: white;
}

#wizard-sec .row.box-shadow{
	background: #f5f6fa;
	box-shadow: 0 0 27px 3px #e3e8f2;
}


#msform fieldset label{
	font-weight: 500;
	margin-bottom: 15px;
}

#msform fieldset .form-control{
	height: 43px;
	box-shadow: none;
	border: 1px solid #d9dde5;
	color: #9da5b3;
}

.white-box a{
	color: #4c84ff;
	font-size: 11px;
}

.fa-ellipsis-v{
	color: #000;
}

.blue-one{
	display: inline-block;
}

.drop-blue .blue-one .btn-primary{
	padding: 10px 15px;
	background: #ecf2fc;
	color: #4c84ff;
	border: 1px solid #d9dde5;
	font-size: 13px;
}

.drop-blue .blue-one .btn-primary.active.focus, 
.drop-blue .blue-one .btn-primary.active:focus, 
.drop-blue .blue-one .btn-primary.active:hover, 
.drop-blue .blue-one .btn-primary:active.focus, 
.drop-blue .blue-one .btn-primary:active:focus, 
.drop-blue .blue-one .btn-primary:active:hover, 
.drop-blue .blue-one.open>.dropdown-toggle.btn-primary.focus, 
.drop-blue .blue-one.open>.dropdown-toggle.btn-primary:focus, 
.drop-blue .blue-one.open>.dropdown-toggle.btn-primary:hover,
.drop-blue .blue-one .btn-primary.active, 
.drop-blue .blue-one .btn-primary:active, 
.drop-blue .blue-one.open>.dropdown-toggle.btn-primary {
    background: #ecf2fc;
	color: #4c84ff;
    border: 1px solid #d9dde5;
    box-shadow: none;
}

.blue-one .btn-primary {
    padding: 10px 15px;
    background: transparent;
    color: #4c84ff;
    border: 0;
    font-size: 24px;
}

.blue-one .btn-primary.active.focus, 
.blue-one .btn-primary.active:focus, 
.blue-one .btn-primary.active:hover, 
.blue-one .btn-primary:active.focus, 
.blue-one .btn-primary:active:focus, 
.blue-one .btn-primary:active:hover, 
.blue-one.open>.dropdown-toggle.btn-primary.focus, 
.blue-one.open>.dropdown-toggle.btn-primary:focus, 
.blue-one.open>.dropdown-toggle.btn-primary:hover {
    color: #4c84ff;
    background-color: transparent;
    border-color: transparent; 
    box-shadow: none;
}

.blue-one .btn-primary.active, 
.blue-one .btn-primary:active, 
.blue-one.open>.dropdown-toggle.btn-primary {
    color: #4c84ff;
    background-color: transparent;
    border-color: transparent;
}

.white-box .blue-one.trans .btn-primary{
	background: transparent;
	color: #9da5b3;
	border: 1px solid #d9dde5;
}

.white-box .blue-one.trans .btn-primary .caret{
	margin-left: 25px;
}

.white-box .btn-primary .caret{
	margin-left: 5px;
}

.opa0{
	opacity: 0;
}

/*-------------- save-sec css -------------*/

#save-sec .row{
	background: #fff;
	box-shadow: 0 0 27px 3px #e3e8f2;
	position: relative;
}
#save-sec2 .row{
	background: #fff;
	box-shadow: 0 0 27px 3px #e3e8f2;
	position: relative;
}

.save-img{
	background: #4c84ff;
	display: inline-block;
	width: 100px;
	height: 100px;
	text-align: center;
    line-height: 90px;
}

#save-sec .btn-primary{
	background: #4c84ff;
	border: 1px solid #4c84ff;
	padding: 10px 20px;
	margin-right: 15px;
}
#save-sec2 .btn-primary{
	background: #4c84ff;
	border: 1px solid #4c84ff;
	padding: 10px 20px;
	margin-right: 15px;
}

section.campaign{
	padding: 30px 15px 60px;
}



/*-------------------- review page css ------------------*/


.pad_right0{
	padding-right: 0
}
.col-md-10.pad_right0{
	padding-right: 0;
}

.campaign{
	background-color: #f5f6fa;
	padding: 30px 0 60px;
}
.campaign_box {
    border-radius: 6px;
    background: #fff;
    padding: 20px 30px;
    border: 1px solid #e1e5ee;
    webkit-box-shadow: 0 4px 1px 0px #ebedf5;
    -moz-box-shadow: 0 4px 1px 0px #ebedf5;
    box-shadow: 0 4px 1px 0px #ebedf5;
    position: relative;
}

.campaign_box .form-group label{
	color: #1c263f;
	font-size: 14px;
	width: 100%;
	font-weight: 600;
}
.campaign_box .edit_txt{
	color: #4c84ff;
	font-size: 12px;
	position: absolute;
	right: 30px;
	cursor: pointer;
	font-weight: 600;
}
.contact_box .edit_txt{
	color: #4c84ff;
	font-size: 12px;
	cursor: pointer;
	font-weight: 600;
}
.campaign_box .edit_txt img,
.contact_box .edit_txt img {
	margin-right: 7px;
}
.campaign .cap_ul{
	vertical-align: top;
	margin: 0;
}
.campaign .cap_ul li{
	vertical-align: top;
}
.campaign .cap_ul li .icon_img1{
	margin-top: 20px;
}
.img_camp{
	display: inline-block;
	width: 100%;

}
.img_camp span{
  display: inline-block;
  width: 4.2%;
  vertical-align: top;
}
.pink_tag{
	background-color: #feeaee;
	color: #f13559 !important;
}
.orange_tag{
	background-color: #fff0d8;
	color: #f69603 !important;
}
.green_tag{
	background-color: #dffdf5;
	color: #0aa97e !important;
}
.purple_tag{
	background-color: #eaedf8;
	color: #6a718b !important;
}
.orange1_tag{
	background-color: #ffe7e2;
	color: #f2694d !important;
}
.blue_tag{
	background-color: #e3f7ff;
	color: #11a9ec !important;
}
.grey_tag{
	background-color: #efefef;
	color: #878787 !important;
}
.purple1_tag{
	background-color: #edf0ff;
	color: #6c7ad0 !important;
}
.purple_tag:hover{
	color: #6a718b;
}
.orange1_tag:hover{
	color: #f2694d;
}
.green_tag:hover{
  color: #0aa97e;
}
.orange_tag:hover{
  color: #f69603;
}
.pink_tag:hover{
  color: #f13559;
}

.color_tag a {
    text-decoration: none;
    padding: 10px 17px;
    border-radius: 4px;
    font-size: 12px;
}
.color_tag a:hover{
	text-decoration: none;
}
.img_camp .campaign_box {
    display: inline-block;
    width: 95.46189498%;

}
.campaign_box .form_style .form-control {
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #8b94a5;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    font-weight: 500;
}
.campaign_box .form_style1 .form-control {
    height: 42px;
    border-color: #d9dde5;
    margin: 10px 0;
    width: 50%;
}
.campaign_box .form_style .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn_camp {
    font-size: 14px;
    color: #8b94a5;
    padding: 15px 20px;
    border-radius: 6px;
    border: 0;
    font-weight: 600;
}
.block_btn {
    display: block;
    margin: 60px auto;
    width: 400px;
}

.grey_btn{
  background: #e6e8f1;
  margin-right: 5px;
}
.green_btn{
  background: #2dcca1;
  color: #fff;
  margin-left: 5px;
}
.img_tab{
	width: 100%;
}

#datepicker{width:150px; margin: 0;}
#datepicker > span:hover{cursor: pointer;}

.campaign .ul_list{
  vertical-align: middle;
}
.campaign .ul_list li{
  vertical-align: middle;
}
.campaign .nav-tabs>li {
    float: none;
    display: block;
}
.campaign .nav-tabs>li>a:hover {
    border-color: transparent;
}

.campaign .nav-tabs {
    margin-right: -1px;
    background: #eef0f5;
    border-bottom: transparent;
}
.campaign .nav-item{
	text-align: center;
}
.campaign_box0{
	padding: 0;
}
.tab_box{
	padding: 18px;
}
.campaign_box .nav-tabs>li>a {
    margin-right: 0;
    font-size: 12px;
    font-weight: 600;
    color: #989ea9;
    display: block;
    text-align: center;
    margin: 20px 21px;
    padding: 14px;
    background: transparent;
    border: 1px solid transparent;
}
.campaign .nav>li>a:hover,.campaign .nav>li>a:focus ,campaign .nav>li.active>a{
    color: #989ea9;
    background: #fff;
    border:1px solid #e3e7ef;
    border-radius: 8px;
}
.campaign_box .nav>li>a>img {
    max-width: none;
    display: block;
    margin: 10px auto;
}
.campaign_box .nav-tabs>li.active>a,.campaign_box .nav-tabs>li.active>a:hover,.campaign_box .nav-tabs>li.active>a:focus {
    color: #1c263f;
    cursor: default;
    background-color: #fff;
    border: 1px solid #e3e7ef;
    border-bottom-color: #e3e7ef;
    border-radius: 8px;
}
.tab_ul{
	margin-bottom: 0;
	margin-left: 0 !important;
	position: relative;
}
.tab_ul .btn-primary {
    color: #fff;
    background-color: #fd6521;
    border-color: transparent;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 23px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: -1px;
}
.tab_ul .btn-primary:hover,.tab_ul .btn-primary:focus,
 .tab_ul .btn-primary:active,.tab_ul .btn-primary.active,
  .tab_ul .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fd6521;
    border-color: #fd6521;
}
.tab_ul .btn-primary1:hover,.tab_ul .btn-primary1:focus,
 .tab_ul .btn-primary1:active,.tab_ul .btn-primary1.active,
  .tab_ul .open>.dropdown-toggle.btn-primary1 {
    color: #b9bec8;
    background-color: #e6e8ef;
    border-color: #e6e8ef;
}
.tab_ul .btn-primary1{
	background: #e6e8ef;
	color: #b9bec8;
}
.tab_ul .btn-primary i{
   margin-left: 10px;
}
.ic_img3{
	margin-right: 10px;
}

.edit_txt.ul_edit{
	color: #4c84ff;
    font-size: 12px;
    position: absolute;
    right: 40px;
    cursor: pointer;
    font-weight: 600;
}
 .edit_txt.ul_edit img {
    margin-right: 7px;
}
.campaign .input-group-addon{
    color: #becbe1 !important;
    background-color: #ecf2fc !important;
    border: none !important;
    border-radius: 0 !important;
}
.campaign .form-control[disabled],.campaign .form-control[readonly],
.campaign fieldset[disabled] .form-control {
    background-color: #ecf2fc;
    color: #4c84ff;
    letter-spacing: 1px;
}
#datepicker .form-control{
	border:none;
}
#datepicker{
	border-radius: 6px;
	border:1px solid #d9dde5;
}

/*=================timepicker==============*/
.form-group .form-control1 {
    padding-left: 30px;
    background: #ecf2fc url(../img/clock.png)no-repeat;
    border-radius: 4px !important;
    margin-top: 13px;
    background-position: 7% 50%;
}
/*===============02/05/nams======================*/
.meassage_box{
	width: 100%;
	margin:0 auto;
	position: relative;
	display: block;
	text-align: left;
}

.meassage_box .campaign_box .nav-tabs>li>a {
    margin: 15px;
}

.meassage_box .campaign_box .nav>li>a>img {
    max-width: none;
    display: block;
    margin: 0px auto 5px;
}
.col-md-2.padleft0{
	padding-left: 0;
}
.tab_ul .customize_drop .btn-customize {
    color: #4c84ff;
    background-color: #ecf2fc;
    border-color: #d9dde5;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 7px;
}
.tab_ul .customize_drop .btn-customize i{
   margin-left: 10px;
}
.meassage_box .green_btn{
	margin-top: 30px;
}
.meassage_box .img_camp .campaign_box {
    width: 94.5%;
}
.meassage_box .img_camp span {
    width: 5%;
}
#msform fieldset .meassage_box .form-control.controlform1 {
    width: 60%;
}
.suppression{
	padding: 60px 0;
	text-align: center;
}
.suppression h2 {
    color: #1c263f;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.suppression p a{
	color: #4c84ff;
	font-size: 13px;
}
.suppression img{
	margin-right: 10px;
}
.btn_blue_drop {
    padding: 10px 15px;
    background: #ecf2fc;
    color: #4c84ff;
    border: 1px solid #d9dde5;
}
.btn_blue_drop i{
	margin-left: 5px;
}
/*.w-22{
	width: 21px;
}*/





/*--------------- dashboard2 css ---------------*/
#dashboard .progress-bar {
  text-align: left;
  height: auto;
  width: 0;
  

}
.progress-bar .skill{
	opacity: 0;
}

.highcharts-credits , .highcharts-button{
	display: none !important;
}

.progress-chart{
	padding: 50px 0;
}

.progress {
	height: 14px;
}

.bg-success {
    background-color: #29cc97!important;
}
.bg-info {
    background-color: #4b7efe!important;
}
.bg-warning {
    background-color: #fec400!important;
}
.bg-danger {
    background-color: #f46767!important;
}

.bg-extra {
    background-color: #76c9fc!important;
}

#dashboard .white-box{
	background: #fff;
	padding: 30px 55px;
	border-radius: 8px;
	height: 580px;
}

#dashboard .white-box li a {
    color: #8b94a5;
    font-size: 12px;
    line-height: 22px;
    display: block;
    position: relative;
    margin: 10px 0;
}

#dashboard .white-box li a:before{
	content: '';
	position: absolute;
	left: -15px;
    top: 6px;
	width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    margin-right: 5px;
}

#dashboard .white-box li.green a:before{
	background: #29cc97;
}

#dashboard .white-box li.blue a:before{
	background: #4b7efe;
}

#dashboard .white-box li.yellow a:before{
	background: #ffc300;
}

#dashboard .white-box li.skyblue a:before{
	background: #77cafd;
}

#dashboard .white-box li.pink a:before{
	background: #ca65ff;
}

#dashboard .white-box li.baby-pink a:before{
	background: #f46767;
}

#dashboard .white-box li a span{
	color: #1c263f;
	font-size: 14px;
}

#dashboard .white-box h3{
	font-size: 20px;
	font-weight: 500;
	color: #1c263f;
}

#doughnutChart .doughnutSummaryNumber:after{
	content: 'Recepients';
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 12px;
	color: #8b94a5;
}

#doughnutChart1 .doughnutSummaryNumber:after{
	content: 'Total Opens';
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 12px;
	color: #8b94a5;
}

#table-sec .chart , .white-box .chart{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}

#table-sec .doughnutSummaryNumber , .white-box .doughnutSummaryNumber{
	display: none;
}

.chart {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.doughnutTip::after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  line-height: 0;
}

.doughnutSummary {
  position: absolute;
  top: 45%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}

.doughnutSummaryTitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
  font-size: 12px;
  color: #8b94a5;
  text-shadow: none;
}

.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
  font-size: 26px;
  text-shadow: none;
  color: #1c263f;
}

.chart path:hover {
  opacity: 0.65;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
}



/*-------------- contact page css --------------*/

.contact .ed-table table tbody li:first-child {
    margin-right: 0px;
}
.contact .ed-table table tbody li{
	vertical-align: middle;
}
.contact .position{
	margin-right: 0;
}

.contact .ed-table table tbody h5,.contact .ed-table table tbody p{
	margin-bottom: 0;
}

.contact .progress-bar{
	color: #fff;
}
.contact .progress-bar div span:before{
	content: none;
}

.contact .progress-bar .rotate {
    clip: rect(0 30px 200px 0);
}
.contact .progress-bar .left {
	clip: rect(0 30px 200px 0);
}
.contact .progress-bar .right {
    clip: rect(0 30px 200px 0);
}
.contact .progress-bar,.contact .progress-bar div {
    height: 60px;
    width: 60px;
}
.contact .progress-bar div span {
    height: 48px;
    width: 48px;
    left: 6px;
    top: 6px;
}
.contact .ed-table table th:first-child {
    width: 10%;
}

/*.contact .ed-table table td{
	padding: 5px 30px;
}*/

.contact .ed-table table td{
	padding: 15px 30px;
}

.domain-count{
	background: #76c9fc;
	color: #fff;
	font-size: 16px;
	padding: 8px 20px;
	display: inline-block;
	border-radius: 5px;
	width: 70px;
	text-align: center;
}

header .dropdown-menu{
	border: 1px solid #e0e4ed;
	padding: 20px 0px;
	border-top: 0;
	box-shadow: 0 4px 0px #eaecf5;
	border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
header .dropdown-menu>li>a{
	padding: 8px 30px;
	
}
header .dropdown-menu>li>a img{
	padding-right: 10px;
}



/*------------ ip delivery page -----------------*/
.pos-inherit{
	position: inherit;
}
.ip-table .ed-table table th{
	width: 5%;
}
.ip-table .ed-table table th:first-child{
	padding: 30px 0 30px 30px;
	text-align: left;
}

.ip-table .ed-table table td:first-child{
	padding-left: 30px;
	text-align: left;
}

.ip-table .ed-table table td{
	padding: 15px 30px;
}

.ip-table #tab_default_3 .ed-table table td {
    padding: 15px 30px 30px;
}

.ip-table [type="checkbox"]:checked,
.ip-table [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.ip-table [type="checkbox"]:checked + label,
.ip-table [type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.ip-table [type="checkbox"]:checked + label:before,
.ip-table [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
}
.ip-table [type="checkbox"]:checked + label:after,
.ip-table [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ip-table [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.ip-table [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



body.delete-column .ip-table .ed-table th:nth-child(4),
body.delete-column .ip-table .ed-table td:nth-child(4),
body.delete-column .ip-table .ed-table th:nth-child(8),
body.delete-column .ip-table .ed-table td:nth-child(8){
	display: none;
}

.date-range-part .fa-cog{
	font-size: 15px;
}


#broadcast.ip-table{
	padding: 0;
}

#broadcast.ip-table .tab-content{
	background: #f5f6fa;
	padding: 0 50px;
}

#broadcast.ip-table h3{
	padding: 30px 50px 0;
}

#broadcast.ip-table .nav-tabs{
	padding: 0 50px;
}

#broadcast.ip-table .ed-table .table{
	margin-bottom: 0;
}

.options-list {
    position: absolute;
    background: #fff;
    border: 1px solid #d5d0d0;
    width: 100%;
    z-index: 9;
    padding: 15px;
    top: 39px;
    display: none;
}

#tab_default_1 .form-control{
	background: #fff;
}
#tab_default_1 .customgroup{
	position: absolute;
	right: 0;
	top: 40px;
	right: 20px;
	width: 400px;
}

#tab_default_1 .customgroup .fa {
    position: absolute;
    right: 0;
    background: #eee;
    top: 0;
    display: block;
    height: 100%;
    width: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 9;
    font-size: 18px;
}

.ip-table #tab_default_1 .customgroup [type="checkbox"]:checked + label, 
.ip-table #tab_default_1 .customgroup [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #333;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 12px;
}

.ip-table #tab_default_1 .customgroup [type="checkbox"]:checked + label:before, 
.ip-table #tab_default_1 .customgroup [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 0;
    background: #fff;
    border-radius: 3px;
}

.ip-table #tab_default_1 .customgroup input[type="checkbox"] + label:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.ip-table #tab_default_1 .customgroup [type="checkbox"]:checked + label:after{
	width: 6px;
    top: 3px;
    left: 7px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: transparent;
}

#pagination{
	font-size: 16px;
	font-weight: 600;
	color: #666;
}

.drop-blue .ed-table table tbody h4 {
    font-weight: 500;
}

.drop-blue .ed-table table tbody a{
	background: #e4fcf4;
    color: #2dcca1;
    border-radius: 4px;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
}

.drop-blue .ed-table table tbody td.inactive a{
	background: #feeaee;
	color: #f13559;
}

.color25c390{
	color: #25c390 !important;
}
.color4c84ff{
	color: #4c84ff !important;
}
.colorfec400{
	color: #fec400 !important;
}
.color76c9fc{
	color: #76c9fc !important;
}

















/*----------------- funnel pages ---------------*/

.white-box h4{
	font-size: 20px;
	font-weight: 500;
}


.white-box [type="radio"]:checked,
.white-box [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.white-box [type="radio"]:checked + label,
.white-box [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    font-size: 13px;
    font-weight: normal;
}
#msform fieldset .white-box [type="radio"] + label{
	font-weight: normal;
}
#msform fieldset .white-box.box-shadow{
	box-shadow: 0px 4px 0px 0px #ebedf5;
	border: 1px solid #e0e4ed;
}
.white-box [type="radio"]:checked + label:before,
.white-box [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #cbd4e0;
    border-radius: 100%;
    background: #fff;
}
.white-box [type="radio"]:checked + label:after,
.white-box [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #1c263f;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.white-box [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.white-box [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.checkbx-combo{
	padding: 15px;
	border-radius: 5px;
}

.green-check{
	background: #e4fcf4;
}

.white-box .green-check [type="radio"]:checked + label, 
.white-box .green-check [type="radio"]:not(:checked) + label{
	color: #16ac83;
}


.blue-check{
	background: #f0f5ff;
}

.white-box .blue-check [type="radio"]:checked + label, 
.white-box .blue-check [type="radio"]:not(:checked) + label{
	color: #437cfa;
}


.orange-check{
	background: #fff7ea;
}

.white-box .orange-check [type="radio"]:checked + label, 
.white-box .orange-check [type="radio"]:not(:checked) + label{
	color: #fb9300;
}


.skyblue-check{
	background: #f2f9fd;
}

.white-box .skyblue-check [type="radio"]:checked + label, 
.white-box .skyblue-check [type="radio"]:not(:checked) + label{
	color: #62b8ec;
}

.m-15{
	margin: 0 15px !important;
}

.frst-msg{
	font-weight: 500;
	color: #1c263f;
}

#msform fieldset .white-box.msg-box{
	padding: 25px 35px;
}

#msform fieldset .white-box.msg-box h4{
	font-size: 17px;
}

#msform fieldset .white-box.msg-box h4 img{
	padding-right: 15px;
}



.white-box .ed-table table tbody li:first-child{
	margin-right: 0;
}
.white-box .ed-table table th:first-child {
    width: 10%;
}

.friendly-txt{
	color: #8b94a5;
	font-size: 12px;
}

.form-control.w45{
	width: 45px !important;
	display: inline-block;
}

.pr-10{
	padding-right: 10px;
}

.f12{
	font-size: 12px;
	color: #8b94a5;
}

.pl-30{
	padding-left: 30px;
}




.panel.with-nav-tabs .panel-heading{
    padding: 0;
    border-color: transparent;
    background: transparent;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
.with-nav-tabs.panel-default{
	border: 0;
	box-shadow: none;
	background: transparent;
	margin-top: -52px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #a2a9b7;
    padding: 15px 22px;
}
.with-nav-tabs.panel-default .nav-tabs > li > a span{
	display: inline-block;
    border: 1px solid #d3d7e0;
    border-radius: 3px;
    width: 20px;
    text-align: center;
    margin-left: 5px;
    line-height: 18px;
    height: 20px;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #373d4c;
	background-color: #f2f3f7;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #373d4c;
	background-color: #f2f3f7;
	border-color: #f2f3f7;
	border-bottom-color: transparent;
	
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

.campaign .meassage_box {
    max-width: 100%;
}

.campaign_box .nav-tabs>li.active>a, .campaign_box .nav-tabs>li.active>a:hover, .campaign_box .nav-tabs>li.active>a:focus{
	border: 1px solid #e3e7ef !important;
}

.f17{
	font-size: 17px;
	font-weight: 500;
}

#tab1default .form-control{
	box-shadow: none;
	height: 42px;
}

#tab1default label{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 15px;
}

#tab1default .action-button {
    width: 22%;
    background: #2dcca1;
    font-weight: 600;
    color: white;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 5px;
    margin: 40px 0;
    display: inherit;
}

.with-nav-tabs.panel-default .panel-body .campaign_box .nav-tabs>li.active>a, 
.with-nav-tabs.panel-default .panel-body .campaign_box .nav-tabs>li.active>a:hover, 
.with-nav-tabs.panel-default .panel-body .campaign_box .nav-tabs>li.active>a:focus {
    color: #1c263f;
    cursor: default;
    background-color: #fff;
    border: 1px solid #e3e7ef;
    border-bottom-color: #e3e7ef;
    border-radius: 8px;
}

.with-nav-tabs.panel-default .nav-tabs > li.active a span{
	display: none;
}

.with-nav-tabs.panel-default .panel-body .white-box {
    background: white;
    border: 0 none;
    border-radius: 5px;
    padding: 35px 45px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: left;
    display: block;
}

.with-nav-tabs.panel-default .panel-body .white-box.box-shadow {
    box-shadow: 0px 4px 0px 0px #ebedf5;
    border: 1px solid #e0e4ed;
}

.with-nav-tabs.panel-default .panel-body .white-box.box-shadow h4{
	font-size: 16px;
	font-weight: 500;
}
.with-nav-tabs.panel-default .panel-body .white-box.box-shadow a{
	font-size: 16px;
	font-weight: 500;
	color: #4c84ff;
	display: block;
	margin: 30px 0;
}

#tab2default .blue-one .btn-primary{
	border: 1px solid #d9dde5;
	padding: 20px;
	width: 250px;
}

#tab2default .blue-one .list1 {
    position: absolute;
    left: 13px;
    top: 7px;
}
#tab2default .blue-one .list1 li.red{
	background: #feeaee;
	padding: 6px 14px;
	border-radius: 4px;
	color: #f13559;
}

#tab2default .blue-one .list1 li.blue{
	background: #e3f7ff;
	padding: 6px 14px;
	border-radius: 4px;
	color: #11a9ec;
}

.upload-txt{
	color: #4c84ff;
	display: block;
	text-align: center;
	margin-top: 20px;
}

#tab3default .img_camp span.icon{
	width: 5%;
}

#tab3default .img_camp .campaign_box{
	width: 94%;
}

#tab3default .img_camp .campaign_box .btn-primary span{
	width: auto;
	vertical-align: middle;
	margin-left: 5px;
}
.dropdown, .dropup {
    position: relative;
    z-index: 9999;
}



/*-------------- media query -----------*/
/*
@media(max-width: 1440px){
	.ip-table .ed-table table th {
	    width: 10%;
	}
	.ip-table .ed-table table td {
	    padding: 15px;
	}
	.ip-table .ed-table table{
		font-size: 13px;
	}
	#msform fieldset .white-box ,.meassage_box{
		max-width: 70%;
	}
	.progress-bar .left {
	    clip: rect(0 28px 200px 0);
	}
	.progress-bar .right {
	    clip: rect(0 28px 200px 0);
	}
	.progress-bar .rotate {
	    clip: rect(0 28px 200px 0);
	}


	.ed-table table tbody li:first-child {
	    margin-right: 0;
	}
	.ed-table table tbody h4 {
	    font-size: 14px;
	}
	.progress-bar div span {
	    height: 45px;
	    width: 45px;
	    font-size: 12px;
	    top: 5px;
	    line-height: 40px;
	}
	.progress-bar div {
	    height: 55px;
	    width: 55px;
	}
	.progress-bar div span:before {
	    font-size: 7px;
	    top: 13px;
	}
	.ed-table table td:first-child {
	    padding-left: 25px;
	    text-align: left;
	}
	==============02/05/nams===============
	.meassage_box .green_btn {
      margin-top: 35px;
    }
    .contact .progress-bar div span {
	    height: 50px;
	    width: 50px;
	    left: 5px;
	    top: 5px;
	}
	.contact .ed-table table td {
	    padding: 5px 10px;
	}
}

@media(max-width: 1280px){
	#tab2default .blue-one .list1 li{
		font-size: 13px;
	}
	#tab2default .blue-one .btn-primary{
		width: 220px;
	}
	.ip-table .ed-table table th {
	    width: 10% !important;
	}
	.drop-blue .blue-one .btn-primary{
		font-size: 12px;
	}

    .meassage_box .campaign_box .nav>li>a {
        padding: 10px;
    }
    .navbar-default .navbar-nav.nav-left>li>a {
        padding: 35px 15px;
    }
    .navbar-header {
        padding: 35px 15px 0;
    }
	.navbar-default .navbar-nav.nav-left>li:first-child a {
	    margin-right: 10px;
	}
	.navbar-default .navbar-nav.nav-left>li .img,.navbar-default .navbar-nav.nav-left>li.active .img-active ,
	.navbar-default .navbar-nav.nav-left>li a:hover .img-active {
	    margin-right: 4px;
	    width: 15px;
	}
	.navbar-default .navbar-nav>li>a {
	    padding: 30px 5px;
	}

	.navbar-default .navbar-nav.nav-left>li:first-child a img {
	    margin-right: 5px;
	    width:15px;
	}
	.white-box {
	    padding: 30px 25px;
	}
	.chart {
	    width: 230px;
	    height: 230px;
	}
	.navbar-default .navbar-nav.nav-left>li:first-child a .img1{
		width: auto;
	}
}

@media(max-width:1199px){
	.tab-pane .col-md-offset-2 {
	    margin-left: 5%;
	}
	.tab-pane .col-md-8 {
	    width: 90%;
	}
	#msform fieldset .white-box.msg-box h4 {
	    font-size: 16px;
	}
	.m-15 {
	    margin: 0 5px !important;
	}
	.contact #table-sec .ed-table table tbody li:last-child {
	    margin-left: 0px;
	}
	#pagination .col-md-offset-2 {
	    margin-left: 12.666667%;
	}
	#pagination .col-md-8 {
	    width: 80.666667%;
	}
	.ip-table .ed-table {
	    overflow-x: scroll;
	}
	.ip-table .ed-table table{
		font-size: 11px;
	}
	#broadcast ul.text-right li {
	    position: relative;
	    width: 49%;
	}
	.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	    margin-right: 10px;
	}
	.position {
	    float: none;
	    margin: 0 auto;
	    display: block;
	    width: 100% !important;
	}
	.ed-table table th {
	    width: 13%;
	}
	.ed-table table td:last-child{
		padding-right: 10px;
	}
	.img_camp .campaign_box {
	    width: 95.39%;
	  }
	  .img_camp span {
	    width: 4.2%;
	  }
	  .campaign_box .nav-tabs>li>a {
	    margin: 15px 20px;
	  }

	#dashboard .col-md-3 {
	    width: 50%;
	    margin-top: 30px;
	}
	.white-box {
	    padding: 30px 55px;
	}
	#msform fieldset .white-box ,.meassage_box{
		max-width: 90%;
	}
	#msform .action-button {
	    width: 23%;
	}

	.contact .ed-table table tbody li:last-child{
		margin-left: 60px;
	}
	.contact .ed-table table tbody .dropdown-menu li:last-child {
	    margin-left: 0px;
	}
	.contact .ed-table table tbody .first-tr li:last-child{
		margin-left: 0;
	}
	.contact .ed-table table td {
	    padding: 5px 0px;
	}
	.contact .ed-table table td:first-child{
		padding-left: 25px;
	}
}

@media(max-width: 991px){
	.with-nav-tabs.panel-default .panel-body .white-box.box-shadow a{
		word-break: break-word;
	}
	.with-nav-tabs.panel-default .nav-tabs > li > a, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	    padding: 15px 18px;
	}
	.tab-pane .col-md-offset-2 {
	    margin-left: 0;
	}
	.tab-pane .col-md-8 {
	    width: 100%;
	}
	#pagination .col-md-offset-2 {
	    margin-left: 0;
	}
	#pagination .col-md-8 {
	    width: 100%;
	}
	#tab_default_1 .customgroup{
		width: 350px;
	}
	#broadcast.ip-table .tab-content {
	    padding: 0 10px;
	}
	.date-range-part {
	    position: absolute;
	    right: 30px;
	    width: 350px;
	    top: 40px;
	}
	#dashboard .col-md-3 {
	    width: 100%;
	}
	#dashboard .white-box{
		height: auto;
	}
	#progressbar{
		margin: 0px auto 30px;
	}
	.opa0{
		display: none;
	}
	#progressbar li span.round-img{
		background: #f5f6fa;
	}
	#broadcast .nav>li {
	    margin-right: 2px;
	}
	.ed-table table th {
	    font-size: 12px;
	}
	.ed-table table {
	    margin-top: 20px !important;
	}
	.img_camp .campaign_box {
    	width: 95.26%;
  	}
  	.meassage_box .img_camp .campaign_box {
    width: 94.3%;
    }
    .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
   }
   .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #333;
   }
   .contact .ed-table table td:first-child {
	    padding-left: 10px;
	}
	.contact .ed-table table tbody li:last-child {
	    margin-left: 32px;
	}
	.contact .progress-bar, .contact .progress-bar div{
		left: -10px;
	}
	.navbar-nav.navbar-right>li.open:before {
	    content: none;
	}
}

@media(max-width: 767px){
	#tab3default .img_camp span.icon {
	    width: 35%;
	    display: block;
	    margin: 0 auto 20px;
	    text-align: center;
	}
	#tab3default .blue-one{
		width: 100%;
		margin-top: 10px;
	}
	.panel.with-nav-tabs .nav-tabs li:nth-child(2) img{
		width: 20px;
	}
	#tab3default .campaign_box .form_style1 .form-control{
		width: 100%;
	}
	#tab3default .img_camp span.icon img{
		display: block;
		margin: 0 auto;
	}
	.tab-pane .flex-items{
		display: block;
	}
	.with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	    background-color: #dcdcdc;
	}
	.with-nav-tabs.panel-default .panel-body .white-box{
		padding: 35px 25px;
	}
	#tab2default .blue-one .btn-primary {
	    width: 100%;
	}
	.with-nav-tabs.panel-default .panel-body .white-box.box-shadow h4 {
	    font-size: 14px;
	    line-height: 22px;
	}
	.with-nav-tabs.panel-default .panel-body .white-box.box-shadow a {
	    font-size: 14px;
	}
	#tab2default .blue-one{
		width: 100%;
		margin-top: 20px;
	}
	.white-box .color_tag a{
		padding: 10px;
	}
	.with-nav-tabs.panel-default{
		margin-top: 30px;
	}
	.with-nav-tabs.panel-default .nav-tabs>li {
	    margin-bottom: -5px;
	}
	.with-nav-tabs.panel-default .nav-tabs > li > a, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	    padding: 12px 8px;
	    font-size: 11px;
	}
	.f17 {
	    font-size: 14px;
	}
	#tab1default .action-button {
	    width: 100%;
	}
	.panel.with-nav-tabs .nav-tabs{
		border-bottom: 1px solid #dcdcdc;
	}
	.drop-blue .blue-one .btn-primary {
	    font-size: 11px;
	    width: 100%;
    	text-align: left;
	}
	.drop-blue .blue-one .btn-primary .caret{
		float: right;
		margin-top: 5px;
	}
	.white-box.msg-box .flex-items{
		display: block;
	}
	.white-box.msg-box .text-right{
		text-align: center !important;
	}
	.f12 {
	    font-size: 11px;
	}
	.pl-30 {
	    padding-left: 5px;
	}
	.form-control.w45 {
	    width: 100% !important;
	    margin-top: 10px;
	}
	.blue-one.m-15 {
	    display: block;
	    margin: 10px 0 !important;
	}
	#msform fieldset .white-box.msg-box {
	    padding: 10px 15px;
	}
	#msform fieldset .white-box.msg-box h4 {
	    font-size: 13px;
	}
	.white-box .ed-table table tbody h5 , .white-box .ed-table table tbody p{
		text-align: center;
	}
	.meassage_box .flex-items{
		display: block;
	}
	.white-box .text-right{
		text-align: left !important;
	}
	#broadcast .flex-items{
		display: block;
	}
	#pagination .flex-items{
		display: block;
	}
	.date-range-part {
	    position: relative;
	    right: 0;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0 auto !important;
	}
	#tab_default_2,#tab_default_3{
		padding: 30px 0;
	}
	#tab_default_1 .customgroup{
		position: relative;
		left: 0;
		right: 0;
		margin: 0 auto 30px;
		width: 100%;
	}
	#broadcast.ip-table h3 {
	    padding: 30px 10px 0;
	}
	#broadcast.ip-table .nav-tabs {
	    padding: 0 10px;
	}
	#pagination {
	    font-size: 15px;
	}





	
    .review #broadcast a{
        text-align: center;
        display: block;
    }
	.white-box {
	    padding: 30px 40px;
	}
	#progressbar{
		width: auto;
		padding-left: 0;
	}
	#msform fieldset .white-box{
	    max-width: 100%;
	    padding: 15px 25px;
	}
	.meassage_box{
	    max-width: 100%;
	}
	#msform fieldset label{
		font-size: 13px;
	}
	#msform .action-button {
    	width: 60%;
	}
	.save-img {
	    width: 80px;
	    height: 80px;
	    line-height: 80px;
	}
	#save-sec .btn-primary {
	    padding: 10px 10px;
	    margin-right: 0px;
	}
	#save-sec2 .btn-primary {
	    padding: 10px 10px;
	    margin-right: 0px;
	}

	.ed-table .table td:nth-last-child(2) img{
		width: 20px;
	}
	.ed-table .btn-primary .caret {
	    margin-left: 0;
	}
	.ed-table .btn-primary {
    	padding: 2px 5px;
	    font-size: 10px;
	}
	.ed-table .table>thead>tr>th {
	    font-size: 12px;
	    padding: 0 15px;
	}
	.ed-table .table>tbody>tr>td{
	    padding: 10px 0 0;
	    vertical-align: top;
	}
	.progress-bar {
	    height: 60px;
	}
	.ed-table .table .list-inline {
	    margin-bottom: 0;
	}
	.ed-table .list-inline>li {
	    display: block;
	}
	.ed-table table th:first-child {
	    padding-left: 10px;
	}
	.ed-table table td:first-child {
	    padding-left: 10px;
	}
	#broadcast ul.text-right li {
	    position: relative;
	    width: 100%;
	    margin-top: 10px;
	}
	.ed-table {
	    border: 0;
	}
	section {
	    padding: 0;
	}
	.contact .ed-table table tbody li:last-child {
	    margin-left: 0;
	}
	.contact .ed-table table tbody td{
		text-align: center;
	}
	.contact .ed-table table tbody h5{
		text-align: center;
	}
	.contact .progress-bar,.contact .progress-bar div{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.ed-table .blue-one .btn-primary {
	    padding: 10px 15px;
	}
	.block_btn {
	    margin: 40px auto 0;
	    width: auto;
	  }
	  .grey_btn ,.green_btn {
	    display: block;
	    margin: 10px auto;
	  }
	  .img_camp .campaign_box {
	     width: 88.997%;
	  }
	 .img_camp span {
	    width: 10%;
	 }
	 .col-md-2.pad0 {
	    padding-left: 15px;
	 }
	 
	 .edit_txt.ul_edit {
	    right: 20px;
	 }
	 .campaign .nav-tabs>li {
	    float: left;
	    display: inline-block;
	 }
	 .campaign_box .nav-tabs>li>a {
	    margin: 15px 10px;
	    padding: 7px;
	    font-size: 10px;
	 }
	 section.campaign {
	    padding: 30px 0 60px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	    color: #fff;
	}
	============02/05/nams===============
	.meassage_box .green_btn {
      margin-top: 0;
    }
    .meassage_box .campaign_box .nav-tabs>li>a {
      margin: 8px;
    }
    .meassage_box .tab_ul .btn-primary {
    padding: 13px 12px;
   }
   .tab_ul .customize_drop .btn-customize {
    padding: 10px 10px;
  }
  .meassage_box .img_camp .campaign_box {
    width: 89.1%;
  }
  .meassage_box .img_camp span {
    width: 10%;
  }
  .meassage_box .color_tag a {
    font-size: 10px;
  }
  .btn_blue_drop {
    padding: 5px 11px;
    font-size: 11px;
  }
  #msform fieldset .meassage_box .form-control.controlform1 {
    width: 100%;
 }
 .btn_camp {
    font-size: 12px;
    padding: 10px 15px;
 }
 #tab3default h3{
 	font-size: 20px;
 }
}

@media(max-width: 375px){
  .img_camp .campaign_box {
    width: 88.59%;
  }
  .color_tag a {
    padding: 10px;
 }
 .campaign_box .nav-tabs>li>a {
    margin: 10px 7px;
  }
  ==========02/05/nams=============
 
 .meassage_box .campaign_box .nav>li>a>img {
    margin: 5px auto;
    width: 20px;
  }
  .meassage_box .campaign_box .nav-tabs>li>a {
    margin: 3px;
 }
 .meassage_box .img_camp .campaign_box {
    width: 89%;
 }
 .meassage_box .campaign_box .edit_txt {
    right: 15px;
 }
 .meassage_box .campaign_box {
    padding: 20px 15px;
 }
}

@media(max-width: 320px){
	#pagination .col-xs-6 {
 	   width: 100%;
 	   text-align: center;
	}
	.results-filter{
		margin-bottom: 30px;
	}
	.wiz section {
	    padding: 0 15px;
	}
	#progressbar li{
		font-size: 12px;
	}
	#msform fieldset label {
    	font-size: 11px;
	}
	#save-sec .btn-primary{
		padding: 10px 12px;
	}
	#save-sec2 .btn-primary{
		padding: 10px 12px;
	}
	#msform fieldset .white-box {
	    padding: 15px;
	}
	.color_tag a {
    padding: 10px 12px;
    font-size: 10px;
  }
  .color_tag.list-inline>li {
    
    padding-right: 1px;
    padding-left: 1px;
 }
 .campaign_box{
 	padding: 20px;
 }
 .campaign_box.campaign_box0{
 	padding: 0;
 }

 .campaign_box .nav-tabs>li>a {
    margin: 4px;
    padding: 5px;
    font-size: 9px;
}
 .campaign_box .nav>li>a>img {
    margin: 5px auto;
 }
 .campaign .dropdown-menu {
    min-width: 141px !important;
 }
 =========02/05/nams===========
 .tab_ul .customize_drop .btn-customize i {
    margin-left: 5px;
 }
 .meassage_box .tab_ul .btn-primary {
    padding: 8px 8px;
    font-size: 10px;
 }
 .meassage_box .ic_img3 {
    margin-right: 5px;
 }
 .tab_ul .customize_drop .btn-customize {
    padding: 8px 5px;
    font-size: 10px;
    margin-bottom: 5px;
 }
 .meassage_box .tab_ul .btn-primary i {
    margin-left: 5px;
 }
 .meassage_box .campaign_box .nav-tabs>li>a {
    margin: -1px;
 }
 .meassage_box .campaign .dropdown-menu {
    min-width: 109px !important;
 }
 .meassage_box .img_camp .campaign_box {
    width: 88.6%;
 }
 .meassage_box .color_tag a {
    padding: 8px 10px;
    font-size: 9px;
 }
 .btn_blue_drop {
    padding: 5px 5px;
    font-size: 9px;
 }
 .meassage_box1 .campaign_box {
    padding: 10px 12px;
 }
 .btn_blue_drop i {
    margin-left: 1px;
 }
 .meassage_box .campaign_box .edit_txt {
    right: 5px;
 }
 .suppression h2 {
    font-size: 20px;
 }
 .suppression {
    padding: 40px 0;
 }
 	#broadcast .nav>li>a {
    	padding: 10px 8px;
    	font-size: 12px;
	}
	#save-sec .btn-primary {
	    padding: 10px 8px;
	    font-size: 11px;
	}
	#save-sec2 .btn-primary {
	    padding: 10px 8px;
	    font-size: 11px;
	}
	.white-box h4 {
	    font-size: 15px;
	}
	.white-box .color_tag a {
	    padding: 7px;
	}
	.with-nav-tabs.panel-default .nav-tabs > li > a span {
	    width: 12px;
	    line-height: 12px;
	    height: 12px;
	}
	.with-nav-tabs.panel-default .nav-tabs > li > a, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
	    padding: 12px 4px;
	    font-size: 10px;
	}
	.with-nav-tabs.panel-default .nav-tabs>li {
	    margin-bottom: -2px;
	}
	.f17 {
	    font-size: 12px;
	}
	.with-nav-tabs.panel-default .panel-body .campaign_box .nav-tabs>li>a, 
	.with-nav-tabs.panel-default .panel-body .campaign_box .nav-tabs>li>a:hover, 
	.with-nav-tabs.panel-default .panel-body .campaign_box .nav-tabs>li>a:focus{
		padding: 12px 15px;
	}
	.tab_ul .btn-primary{
		font-size: 12px;
	    padding: 10px 9px;
	}
	#tab2default .blue-one .btn-primary{
		padding: 20px 5px;
	}
	#tab2default .blue-one .list1 li {
	    font-size: 12px;
	}
	.panel.with-nav-tabs .nav-tabs li:nth-child(2) img{
		width: 15px;
	}
}
*/
